{% extends "base.html" %}

{% block title %}ユーザ新規登録 | Sovol{% endblock %}

{% block content %}
  <h2>サービスの利用にはEmailアドレスが必要です</h2>
  <form action="{% url "social:complete" backend=backend %}" class="form-horizontal" method="post">
    {% csrf_token %}
    <div class="form-group">
      <div class="col-sm-1 col-sm-offset-1"><label class="control-label" for="email">Email</label></div>
      <div class="col-sm-9">
        <input class="form-control" id="email" type="email" name="email" value="" required>
      </div>
    </div>
    <div style="text-align: center"><input type="submit" class="btn btn-default btn-lg" value="登録"/></div>
  </form>
{% endblock %}