{% extends "base.html" %}

{% block title %}プロフィール編集{% endblock %}

{% block content %}
  {% include "user/user_header.html" %}
  <form action="" class="form-horizontal" method="post" enctype="multipart/form-data">
    <div id="user-detail-info" class="panel panel-primary">
      <div class="panel-body">
        {% csrf_token %}
        <div class="form-group">
          <label for="username-form" class="col-sm-3 col-lg-2 control-label">ニックネーム</label>
          <div class="col-sm-9 col-lg-9"> <input id="username-form" class="form-control" name="username" value="{{ user.username }}"/> </div>
        </div>
        <div class="form-group">
          <label for="email-form" class="col-sm-3 col-lg-2 control-label">Email</label>
          <div class="col-sm-9 col-lg-9 "> <input id="email-form" class="form-control" name="email" value="{{ user.email }} "/> </div>
        </div>
        <div class="form-group">
          <label for="icon-form" class="col-sm-3 col-lg-2 control-label">プロフィール画像</label>
          <div class="col-sm-9 col-lg-9 ">
            <input class="filestyle" id="icon-form" name="image" type="file" />
          </div>
          <script type="text/javascript">$('#icon-form').croppieUpload();</script>
        </div>
        <div class="form-group">
          <label for="form-region" class="col-sm-3 col-lg-2 control-label">住んでる都道府県</label>
          <div class="col-sm-9 col-lg-9">
            <select class="form-control" id="form-region" name="region">
              {% for v, pref in user.region_list %}
                <option value="{{ v }}" {% if user.region == v %}selected{% endif %}>{{ pref }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="form-sex" class="col-sm-3 col-lg-2 control-label">性別</label>
          <div class="col-sm-9 col-lg-9">
            <select class="form-control" id="form-sex" name="sex">
              <option value="True" {% if user.sex is True %}selected{% endif %}>男性</option>
              <option value="False" {% if user.sex is False %}selected{% endif %}>女性</option>
              <option value="None" {% if user.sex is None %}selected{% endif %}>秘密</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="form-birthday" class="col-sm-3 col-lg-2 control-label">生年月日</label>
          <div class="col-sm-9 col-lg-9">
            <input id="form-birthday" type="text" class="form-control" name="birthday" value="{{ user.birthday|date:'Y-m-d' }}" />
          </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 col-lg-2 control-label">タグ</label>
            <div class="">
                {% for tag in all_tags %}
                    <label><input type="checkbox" name="tags" value="{{ tag.id }}" {% if tag in request.user.follow_tag.all %}checked{% endif %}>{{ tag.name }}</label>
                {% endfor %}
            </div>
        </div>
        <div class="row">
          <input type="submit" class="btn btn-primary btn-lg col-sm-4 col-sm-offset-4 col-lg-2 col-lg-offset-5 col-xs-8 col-xs-offset-2" value="適用"/>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
