{% extends "container.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Log in" %} | Sovol{% endblock %}

{% block content %}
  {% csrf_token %}

  <h2>{% trans "Log in" %}</h2>
  <div class="center-block row">
    <div class="col-md-4 col-md-offset-2">
      <div class="panel panel-primary Loginpanel">
        <div class="panel-heading">{% trans "Log in with your email address" %}</div>
        <div class="panel-body">
          <form method="post" action="{% url 'user:login' %}">
            {% csrf_token %}
            <div class="form-group">
              {{ form.username | as_crispy_field }}
            </div>
            <div class="form-group">
              {{ form.password | as_crispy_field }}
            </div>

            <div class="text-center">
              <button class="btn btn-primary" type="submit">{% trans "Log in" %}</button><br><br>
              <a href="{% url 'user:request_password_reset' %}">{% trans "Forgot your password?" %}</a>
            </div>
            <input type="hidden" name="next" value="{{ next }}"/>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-primary Loginpanel">
        <div class="panel-heading">{% trans "Log in using the following services" %}</div>
        <div class="panel-body">
          <a class="btn btn-block btn-social btn-twitter"
             href="{% url 'social:begin' 'twitter' %}">
            <span class="fa fa-twitter"></span> {% trans "Log in with Twitter" %}
          </a>
          <a class="btn btn-block btn-social btn-facebook"
             href="{% url 'social:begin' 'facebook' %}">
            <span class="fa fa-facebook"></span> {% trans "Log in with Facebook" %}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
      {% trans "Not registered with us yet?" %}</br>
    <form method="get" action="{% url 'user:register' %}">
      <button class="btn btn-default btn-sm">
          {% trans "Join Now" %}
      </button>
    </form>
  </div>
{% endblock %}
