{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}
  ユーザー登録
{% endblock %}

{% block content %}
    <style>
        .Loginpanel > div {
            text-align: center;
            height: 15em;
        }
    </style>
    <h2>Register</h2>
    <hr />
    <div class="center-block row">
        <div class="col-md-4 col-md-offset-2">
            <div class="panel panel-default Loginpanel">
                <div class="panel-body">
                   <form action="" method="post">
                     {% csrf_token %}
                     {{ form.as_ul }}
                    <input type="submit" class="btn" value="登録" />
                  </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default Loginpanel">
                <div class="panel-body">
                    <a class="btn btn-block btn-social btn-twitter" href="#">
                        <span class="fa fa-twitter"></span> Register with Twitter
                    </a>
                    <a class="btn btn-block btn-social btn-facebook" href="#">
                        <span class="fa fa-facebook"></span> Register with Facebook
                    </a>
                </div>
            </div>
         </div>
    </div>
    <div style="text-align:center;">
        アカウントをお持ちの方
        <form method="get" action="{% url 'user:login' %}">
            <button class="btn btn-secondary btn-sm">
                Sign in
            </button>
        </form>
    </div>

{% endblock %}
