{% extends "container.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load event_tags %}
{% block title %} ユーザー検索 | Sovol{% endblock %}
{% block content %}
{% load user_tags %}

<div class="row mt15">
  <div class="col-md-8">
    {% skill_list result_skills 検索結果 %} 
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item">
          {% if page_onj.previous %}
            <a class="page-link" href="{% url 'user:user_list' %}?{% query_transform request page=page_number %}">
              前へ
            </a>
          {% endif %}
        </li>
      {% for page_number in paginator.page_range %}
        {% if page_number == page_obj.number %}
          <li class="active page-item">
            <span>{{ page_number }}</span>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="{% url 'user:user_list' %}?{% query_transform request page=page_number %}">
              {{ page_number }}
            </a>
          </li>
        {% endif %}
      {% endfor %}

      <li class="page-item">
        {% if page_obj.has_next %}
          <a class="page-link" href="{% url 'user:user_list' %}?{% query_transform request page=page_obj.next_page_number %}">
            次へ
          </a>
        {% endif %}
      </li>
    </ul>
  </nav>
</div>
</div>

{% endblock %}


