{% extends "container.html" %}
{% load i18n %}
{% load event_tags %}
{% load user_tags %}

{% block title %}{{ user.name }} {% trans "Edit my skill" %} | Sovol{% endblock %}

{% block content %}
<div class="panel paneli-primary">
  <div class="panel-heading">
      {% trans "Edit my skill" %}
  </div>
  <form class="form-horizontal" action="" method="post" enctype="multipart/form-date">
    <!--  {{ form.as_ul }} -->
      {% csrf_token %}
    <div class="form-group">
    <label class="col-sm-3">{% trans "Categories" %}</label>
      <div class="">
        {% for tag in all_tags %}
          <label><input type="checkbox" name="tags" value="{{ tag.id }}" {% if tag in skill.tag.all %}checked{% endif %}>{{ tag.name }}</label>
        {% endfor %}
      </div>
    </div>

    <div class="form-group">
    <label class="col-sm-3">{% trans "I can do" %}:</label>
      <div class="col-sm-9">
        <input id="id_name" class="form-control" name="skilltodo" type="text" value="{{ skill.skilltodo }}" required/>
      </div>
    </div>
    <div class="panel-footer" style="text-align:center">
      <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
    </div>
  </form>
  
{% endblock %}      
