{% load i18n %}
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">{% trans "Users" %}</div>
  </div>
  <div class="row">
    <div class="panel-body">
      {% for skill in skills %}
      <div class="media">
        <div class="media-left">
          <div class="col-xs-4">
            <a href="/user/{{skill.userskill.id}}">
            <div class="media-object custom_thumbnail list-thumbnail" style="background-image:url({{ skill.userskill.get_image_url }});"></div>
            </a>
          </div>
          <div class="madia-body">
            <div id="skilllist_username">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                {{ skill.userskill.get_region_kanji}}
              <a href="/user/{{skill.userskill.id}}">
              <h1>{% trans "Username" %}:{{skill.userskill.username}}</h1>
              </a>
            </div>
            <div class="col-xs-12">
                {% for tag in skill.tag.all %}
                  <a class="tag" ><i class="fa fa-tag" aria-hidden="ture"></i>{{ tag.name }}</a>
                {% endfor %}
              <h4>{{skill.skilltodo}}</h4>
            </div>        
          </div>
        </div>
      </div>
      {% empty %}
      <p> {% trans "No skills found" %} </p>
      {% endfor %}
    </div>
  </div>
</div>
