{% load i18n %}
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">ユーザー一覧</div>
    <div class="panel-body">
      {% for skill in skills %}
      <div class="media">
        <div class="media-left">
          <a href="/user/{{skill.userskill.id}}">
          <div class="media-object custom_thumbnail list-thumbnail" style="background-image:url({{ skill.userskill.get_image_url }});"></div>
          </a>
          <div class="madia-body">
          <a href="/user/{{skill.userskill.id}}">
           <h1>{{skill.userskill.username}}</h1>
          </a>
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          {{ skill.userskill.get_region_kanji}}
          </div>
    <div>
      {% for tag in skill.tag.all %}
        <a class="tag" ><i class="fa fa-tag" aria-hidden="ture"></i>{{ tag.name }}</a>
      {% endfor %}
    </div>
        <h4>{{skill.skilltodo}}</h4>
    </div>
  </div>
  {% empty %}
  <p> スキルがありません </p>
  {% endfor %}
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">タグで絞り込む</h3>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" role="search" action="{% url 'user:user_list' %}" method="get">
      <div class="row">
      <div class="checkbox col-lg-8">
        {% for tag in all_tags %}
          <label>
            <input type="checkbox" name="tags">{{ tag.name }}
          </label>
        {% endfor %}
      </div>
      </div>
      <div class="row">
        <button type="submit" class="btn btn-primary col-sm-4 col-sm-offset-4 col-lg-2 col-lg-offset-5 col-xs-8 col-xs-offset-2">探す</button>
      </div>
    </form>
  </div>
</div>
