{% extends "container.html" %}
{% load i18n %}
{% load event_tags %}
{% load user_tags %}

{% block title %} {{ user.username }} コメント一覧 | Sovol {% endblock %}

{% usercomment from_user to_user %}


{% block content %}
{% load i18n %}
<div class="panel panel-danger">
  <div class="panel-heading">
    <div class="panel-title">コメント</div>
  </div>
  {% for comment in usercomment_list %}
  {% if request.user == comment.to_user %}
  <div class="panel-body">
    <div class="media">
      <div class="media-left">
        <a href="/user/{{ comment.from_user.id }}">
        <div class="media-object custom_thumbnail list-thumbnail" style="background-image:url({{ comment.from_user.get_image_url }});"></div>
        </a>
        <div class="media-body">
        <a href="/user/{{ comment.from_user.id }}">
          <h1>送り主　{{comment.from_user.username }}</h1>
        </a>
        </div>
        <div>{{ comment.text }}</div>
      </div>
    </div>
  </div>
  {% endif %}
  {% empty %}
  <div class="panel-body">コメントはありません</div>
  {% endfor %}
</div>
{% endblock %}
