{% load i18n %}
<div class="panel panel-primary">
  <div class="panel-heading">{{ title }}</div>
  <div class="panel-body">
    {% for user in users|slice:":10" %}
      <a href="{% url 'user:detail' user.id %}" title="{{ user.username }}">
        <div class="custom_thumbnail user-list-thumbnail" style="background-image: url({{ user.get_image_url }});"></div>
        {% if title == _("Organizer") %}
        <p>{{ user.username }}</p>
        {% endif %}
      </a>
    {% empty %}
      <p>{{ title }}{% trans " not found" %}</p>
    {% endfor %}
    {% if title == _("Participants") %}
      <a href="{% url 'event:participants' object.id %}" class="pull-right">{% trans "See more" %}</a>
    {% endif %}
  </div>
</div>