{% extends "container.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %} メッセージ送信 |Sovol{% endblock %}
{% block content %}
<div id="upcoming-users" class="panel panel-default">
  <div class="panel-heading">コメント</div>
    <form id="usercomment-form" method="post" action="{% url 'user:detail' user.id %}">
      {% csrf_token %}
      <div class="media">
        <div class="media-heading">
          <h4 style="display:inline-block">from_{{ form_user }}</div>
        </div>
        <div class="media-headind">
          <h4 style="display:inline-block">to_{{ to_user }}</div>
        </div>
        <div class="form-group">
          <div class="comment-input-area">
            <textarea class="form-control" row="10" name="text" placeholder="記入" style="resize:vertical;"></textarea>
          </div>
          <button class="center-block btn btn-primary">送信する</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}


