{% extends "container.html" %}
{% load i18n %}
{% block title %}{{ user.username }} {% trans "Reviews" %} | Sovol{% endblock %}

{% block content %}

<div class="panel panel-primary">
    <h1 class="panel-title">{% trans "Reviews" %}</h1>
</div>

  <li> {{ user.to_rate_user.all.count }} {% trans "reviews" %}</li>
  <li> {{ user.get_mean_rating }}</li>

<ul>
  {% for rate in user.to_rate_user.all %}
      <ul>
        <li>{% trans "Rating" %} ： {{ rate.rating }}</li>
        <li>{% trans "Rated by" %} ： {{ rate.from_rate_user.username }}</li>
        <li>{% trans "Event Name" %} ： {{ rate.joined_event.name }}</li>
        <li>{% trans "Comment" %} ： {{ rate.comment }}</li>
        <li>P{% trans "Posted on" %} ： {{ rate.post_day }}</li>
      </ul>
      <p></p>
  {% endfor %}
</ul>

{% endblock %}
