{% extends "container.html" %}
{% load i18n %}
{% load event_tags %}
{% load user_tags %}

{% block title %} {{ user.username }} コメント一覧 | Sovol {% endblock %}

{% usercomment from_user to_user %}


{% block content %}
{% load i18n %}
<div class="panel panel-danger">
  <div class="panel-heading">
    <div class="panel-title">コメント</div>
  </div>
  {% for comment in usercomment_list %}
  {% if request.user == comment.to_user %}
  <div>{{ comment.text }}</div>
  <div>{{ comment.from_user.username }}</div>
  {% endif %}
  {% empty %}
  <div class="panel-body">コメントはありません</div>
  {% endfor %}
</div>
{% endblock %}
