{% load i18n %}
{% load event_tags %}
{% load user_tags %}
<div class="detail-header row">
  <div class="col-xs-12 col-sm-4 col-md-3" style="text-align: center">
    <div class="media-object custom_thumbnail detail-thumbnail" style="background-image:url({{ user.get_image_url }});"></div>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-9">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">
            {{ user.username }}
        </h3>
      </div>
      <div class="row"  style="padding-left:1em; padding-right: 1em;">
        <div class="panel-body col-sm-7 col-md-8" style="overflow-wrap: break-word;">

          {% if user.birthday != null %}
          <p>{% trans "Age Group:" %} {{ user.get_about_age }}{% trans "'s" %}</p>
          {% endif %}
          {% if user.sex != null %}
          <p>{% trans "Sex:" %} {{ user.sex|yesno:_("Male,Female,Prefer not to disclose") }}</p>
          {% endif %}
          <p>{% trans 'Region:' %} {{ user.get_region_kanji }}</p>
          <p>
            {{ user.to_rate_user.all.count }} {% trans "reviews" %}
            {{ user.get_mean_rating }}
          </p>
          <h3 id="rate-average">
            <input id="review-rating" type="hidden" value="{{ user.get_mean_rating }}">
            <i class="review-star fa fa-star fa-starsize" data-rating="1" aria-hidden="true"></i>
            <i class="review-star fa fa-star fa-starsize" data-rating="2" aria-hidden="true"></i>
            <i class="review-star fa fa-star fa-starsize" data-rating="3" aria-hidden="true"></i>
            <i class="review-star fa fa-star fa-starsize" data-rating="4" aria-hidden="true"></i>
            <i class="review-star fa fa-star fa-starsize" data-rating="5" aria-hidden="true"></i>
          </h3>
        </div>

        <div class="panel-body col-sm-5 col-md-4" style="padding-bottom: 5px;">
          <h3> Lv. <span class="emphasis">{{ user.get_level }}</span></h3>
          <p> {% trans 'Sovolage' %}<span class="sovolage-point">{{ user.get_point }}</span>pt</p>
          <div style="text-align: right">
            {% if user.id == request.user.id %}
              <a class="btn btn-default btn-sm" href="{% url 'user:edit' %}">{% trans 'Edit profile' %}</a>
              <a class="btn btn-default btn-sm" href="{% url 'user:usercomment' %}">コメントを見る</a>
            {% else %}
              <a class="btn btn-default btn-sm" href="{% url 'user:usercommentadd' user.id %}">この人にコメントを送る</a>
            {% endif %}
          </div>
        </div>
    </div>
      <div class="panel-body" style="padding-top: 0;">
        <span>{{ user.msg_you_need_more_xxx_sovolage_to_the_next_level }}</span>
        <div class="progress" style="margin-bottom: 0;">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ user.get_level_percentage }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ user.get_level_percentage }}%;">
          <span>{{user.get_level_percentage}}%</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(function() {
    var rate = Math.ceil(parseFloat($('#review-rating').val()));
    $('.review-star').each(function(index, elem){
      $(elem).addClass(index<rate ? 'fa-yellow' : 'fa-white');
    });
  });
</script>


<div class="panel panel-default">
  <div class="panel-heading">
    <a class="collapsed" data-toggle="collapse" href="#collapse-review">
      <h3 class="panel-title">
        {% trans "Reviews" %}
      </h3>
    </a>
  </div>
  <div id="collapse-review" class="panel-collapse collapse">
    <div class="panel-body">
      <ul class="list-unstyled">

      {% for rate in user.to_rate_user.all|dictsortreversed:"post_day" %}
        <li class="media">
          <div class="media-left">
            <div class="media-object custom_thumbnail list-thumbnail" style="background-image: url({{ rate.from_rate_user.get_image_url }});"></div>
          </div>
          <div class="media-body">
            <h5 class="">
              <span class="past-reviewed">
                <input type="hidden" value="{{ rate.rating }}">
                <i class="review-star fa fa-star fa-starsize" aria-hidden="true"></i>
                <i class="review-star fa fa-star fa-starsize" aria-hidden="true"></i>
                <i class="review-star fa fa-star fa-starsize" aria-hidden="true"></i>
                <i class="review-star fa fa-star fa-starsize" aria-hidden="true"></i>
                <i class="review-star fa fa-star fa-starsize" aria-hidden="true"></i>
              </span>
              <span class="ml5">{% trans "Rated by" %} {{ rate.from_rate_user.username }}</span>
              <span class="ml5"></span>
            </h5>
            {% if rate.comment %}
              <p>{{ rate.comment }}</p>
            {% endif%}
            <p>
              {% trans "Event Name" %} ： {{ rate.joined_event.name }}
              {% trans "Posted on" %} ： {{ rate.post_day }}
            </p>
          </div>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $('.past-reviewed').each(function(i,e){
      var rate = parseInt($(e).find('input').val());
      $(e).find('.review-star').each(function(index, elem){
        $(elem).addClass(index<rate ? 'fa-yellow' : 'fa-white');
      });
    });
  });
</script>

<div class="panel panel-default">
  <div class="panel-heading">
  <h3 class="panel-title">{% trans "Skills" %}</h3>
  </div>
  <form action="">
    {% csrf_token %}
    <div id="skills" class="list-group">
      {% for skill in user.skill_set.all %}
        <div class="list-group-item skill-list-item" href="#">
          <p class="list-group-item-heading" style="overflow-wrap: break-word;">{{ skill.skilltodo }}</p>
          <p class="list-group-item-text">
            {% for tag in skill.tag.all %}
            <a class="tag-label" href="{% url 'event:search' %}?tags={{ tag.id }}">
              <span class="label label-danger">{{tag.name}}</span>
            </a>
            {% endfor %}
          </p>
          {% if user.id == request.user.id %}
            <div class="d-inline-block" style="text-align: right;">
              <a href="{% url 'user:skill_edit' skill.id %}" type="button" class="btn btn-default">{% trans "Edit" %}</a>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    {% if user.id == request.user.id %}
    <div class="panel-footer">
      <button class="btn btn-primary pull-right" id="add_skill" type="button">
          <span class="glyphicon glyphicon-plus"></span>
      </button>
      <button class="btn btn-primary" type="submit">
        {% trans "Submit" %}
      </button>
    </div>
    {% endif %}
  </form>
</div>

<script id="skill-form" type="text/template">
  <input type="hidden" name="skill_number" value="[[ X ]]">

  <div class="list-group-item skill-list-item" href="#">
    <p class="list-group-item-heading" style="overflow-wrap: break-word;">
      {% trans "I can do" %}
      <textarea required name="skill_[[ X ]]_todo" id="" cols="30" class="form-control" rows="3"></textarea>
    </p>
    <p class="list-group-item-text">
      {% for tag in all_tags %}
      <p class="tag-label tag-select" href="{% url 'event:search' %}?tags={{ tag.id }}">
        <span class="label label-default">{{tag.name}}</span>
        <input type="checkbox" name="skill_[[ X ]]_tags" value="{{ tag.id }}" {% if tag in skill.tag.all %}checked{% endif %}>
      </p>
      {% endfor %}
    </p>
  </div>
</script>

<script type="text/javascript">
$(function () {
    $('#add_skill').one('click', function (user) {
      var X = $('#skills>div').length + 1;
      var tmpl = $('#skill-form').html();
      var add_window = Mustache.to_html(tmpl, {X: X});
      $('#skills').append(add_window);
      $('.tag-select').on('click', function() {
        $label = $(this).find('span');
        $check = $(this).find('input');
        if (!$check.is(':checked')) {
          $label.removeClass('label-default');
          $label.addClass('label-danger');
          $check.attr('checked','checked');
        } else {
          $label.removeClass('label-danger');
          $label.addClass('label-default');
          $check.removeAttr('checked');
        }
      });
    });
});
</script>


<div class="panel panel-default">
  <div class="panel-heading">
    <a class="collapsed" data-toggle="collapse" href="#collapse-trophie">
      <h3 class="panel-title">
        {% trans 'Trophies' %}
      </h3>
    </a>
  </div>
  <div id="collapse-trophie"  class="panel-collapse collapse">
    <div class="panel-body">
      {% for trophy in user.trophy_list %}
        <div class="trophy-box">
          <div class="trophy-hedding">{{ trophy.name }}</div>
          <div class="trophy-icon"><img src="/media/common/trophy/{{ trophy.type }}.svg" style="padding: 0;"></div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div id="user-info" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      {% trans 'Following tags' %}
    </h3>
  </div>
  <div class="panel-body container-fluid">
    <div>
        {% for tag in user.follow_tag.all %}
          <a class="tag" href="{% url 'event:search' %}?tags={{ tag.id }}"><i class="fa fa-tag" aria-hidden="true"></i>{{ tag.name }}</a>
        {% empty %}
          <p>{% trans 'Tags not found' %}</p>
        {% endfor %}
      </div>
  </div>
</div>
