{% extends "container.html" %}
{% load i18n %}
{% block title %} {% trans "Post your review" %} | Sovol{% endblock %}

{% block content %}


{% if to_user.id %}
<div class="panel panel-info">
  <div class="panel-heading">
    <h4 class="panel-title">{% trans "Please post a review about this user." %}</h4>
  </div>
  <div class="panel-body">
    <div class="media">
      <div class="media-left">
        <a href="/user/to_user.id">
          <div class="media-object custom_thumbnail list-thumbnail"  style="background-image:url({{ user.get_image_url }});">
          </div>
        </a>
      </div>
      <div class="media-body">
        <div class="event-info pull-left">
          <div class="media-heading">
            <a href="/user/to_user.id">
              <h4>to_user.username</h4>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form action="" class="form" method="post" enctype="multipart/form-data">
    <div class="form-group review-form">
      {% csrf_token %}
      <div class="row">
        <label for="" class="col-xs-12 col-md-2">{% trans "Rating" %}</label>
        <div class="col-xs-12 col-md-10">
          <input id="review-rating" name="rating" type="hidden" value="3">
          <i class="review-star fa fa-star fa-starsize fa-yellow" data-rating="1" aria-hidden="true"></i>
          <i class="review-star fa fa-star fa-starsize fa-yellow" data-rating="2" aria-hidden="true"></i>
          <i class="review-star fa fa-star fa-starsize fa-yellow" data-rating="3" aria-hidden="true"></i>
          <i class="review-star fa fa-star fa-starsize fa-white" data-rating="4" aria-hidden="true"></i>
          <i class="review-star fa fa-star fa-starsize fa-white" data-rating="5" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row mt10">
        <label for="review-comment" class="col-xs-12 col-md-2">{% trans "Comment" %}</label>
        <div class="col-xs-12 col-md-9">
          <textarea name="comment" class="form-control" rows="5" id="review-comment"></textarea>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <button class="btn btn-primary center-block review-btn" type="submit">{% trans "Submit" %}</button>
    </div>
  </form>
</div>
{% else %}
<div class="panel panel-info">
  <div class="panel-heading">
    <h4 class="panel-title">{% trans "Please post a review about this event." %}</h4>
  </div>
  <div class="panel-body">
    <div class="media">
      <div class="media-left">
        <a href="/event/{{review_event.pk}}">
          <div class="media-object custom_thumbnail list-thumbnail" style="background-image: url({{ review_event.get_image_url }});">
          </div>
        </a>
      </div>
      <div class="media-body">
        <div class="event-info pull-left">
          <div>
            終了日時
            <i class="fa fa-calendar" aria-hidden="true"></i>
              {{review_event.end_time_format| date:'n/j (D)'}}
            <i class="fa fa-map-marker" aria-hidden="true"></i>
              {{review_event.get_region_kanji}}
          </div>
          <div class="media-heading">
            <a href="/event/{{review_event.pk}}">
              <h4>{{ review_event.name }}</h4>
            </a>
            {% trans "Owner" %}
            <a href="">{{review_event.host_user}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form action="" class="form" method="post" enctype="multipart/form-data">
    <div class="form-group review-form">
      {% csrf_token %}
      <div class="row">
        <label for="" class="col-xs-12 col-md-2">{% trans "Rating" %}</label>
        <div class="col-xs-12 col-md-10">
          <input id="review-rating" name="rating" type="hidden" value="3">
          <i class="review-star fa fa-star fa-starsize fa-yellow" data-rating="1" aria-hidden="true"></i>
          <i class="review-star fa fa-star fa-starsize fa-yellow" data-rating="2" aria-hidden="true"></i>
          <i class="review-star fa fa-star fa-starsize fa-yellow" data-rating="3" aria-hidden="true"></i>
          <i class="review-star fa fa-star fa-starsize fa-white" data-rating="4" aria-hidden="true"></i>
          <i class="review-star fa fa-star fa-starsize fa-white" data-rating="5" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row mt10">
        <label for="review-comment" class="col-xs-12 col-md-2">{% trans "Comment" %}</label>
        <div class="col-xs-12 col-md-9">
          <textarea name="comment" class="form-control" rows="5" id="review-comment"></textarea>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <button class="btn btn-primary center-block review-btn" type="submit">{% trans "Submit" %}</button>
    </div>
  </form>
</div>
{% endif %}

<script type="text/javascript">
  $(function() {
    $('.review-star').hover(function(){
      var star_cnt = parseInt($(this).attr('data-rating'));
      $('.review-star').removeClass('fa-yellow');
      $('.review-star').each(function(index,elem){
        $(elem).addClass(index<star_cnt ? 'fa-yellow' : 'fa-white');
      });
    },function(){
      var star_cnt = parseInt($('#review-rating').val());
      $('.review-star').removeClass('fa-yellow');
      $('.review-star').each(function(index,elem){
        $(elem).addClass(index<star_cnt ? 'fa-yellow' : 'fa-white');
      });
    });
    $('.review-star').on('click',function(){
      var star_cnt = parseInt($(this).attr('data-rating'));
      $('.review-star').removeClass('fa-yellow');
      $('.review-star').each(function(index,elem){
        $(elem).addClass(index<star_cnt ? 'fa-yellow' : 'fa-white');
      });
      $('#review-rating').val(star_cnt);
    });
  });

</script>

{% endblock %}
