{% extends "container.html" %}
{% load i18n %}
{% block title %}{{ user.username }} ユーザー詳細 | Sovol{% endblock %}

{% block content %}

<div class="panel panel-primary">
    <h1 class="panel-title">Review List</h1>
</div>

  <li>Cnt_rating ： {{ user.to_rate_user.all.count }}</li>
  <li>Avg_rating : {{ user.get_mean_rating }}</li>

<ul>
  {% for rate in user.to_rate_user.all %}
      <ul>
        <li>Rating ： {{ rate.rating }}</li>
        <li>Rater ： {{ rate.from_rate_user.username }}</li>
        <li>Event ： {{ rate.joined_event.name }}</li>
        <li>Comment ： {{ rate.comment }}</li>
      </ul>
      <p></p>
  {% endfor %}
</ul>

{% if request.user.is_anonymous %}
{% else %}
  <a class="btn btn-primary" href="{% url 'user:post_review' user.id %}">
    Go to User Review Post Page
  </a>
{% endif %}

{% endblock %}
