{% extends "container.html" %}
{% load i18n %}
{% load event_tags %}

{% block title %} {{ user.username }} {% trans "Reviews Not Yet Posted" %} | Sovol{% endblock %}


{% block content %}

{% load i18n %}

<div class="panel panel-danger">
    <div class="panel-heading">
      <div class="panel-title">{% trans "Events not yet reviewed" %}</div>
    </div>
    <div class="panel-body">
  {% for event in user.get_past_participated_and_unreviewed_events %}
  <div class="media">
    <div class="media-left">
      <a href="/event/{{event.pk}}">
        <div class="media-object custom_thumbnail list-thumbnail" style="background-image:url({{event.get_image_url}});"></div>
      </a>
    </div>
    <div class="media-body">
      <div class="event-info pull-left">
        <div>
          {% if event.is_over %}
            <span class="label label-default" style="margin-right: 1em;">
              {{ event.get_status.msg }}
            </span>
          {% else %}
            {% if event in user.participating_event.all %}
              {% for participation in user.participation_set.all %}
                {% if participation.event == event %}
                  <span class="label label-warning" style="margin-right: 1em;">
                    {{ participation.status }}
                  </span>
                {% endif %}
              {% endfor %}
            {% else %}
              <span class="label label-info" style="margin-right: 1em;">
                {{ event.get_status.msg }}
              </span>
            {% endif %}
          {% endif %}
          <i class="fa fa-calendar" aria-hidden="true"></i>
          {{event.start_time_format | date:'n/j (D)' }}
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          {{event.get_region_kanji}}
        </div>
        <div class="media-heading">
          <a href="/event/{{event.pk}}">
            <h4>{{event.name}}</h4>
          </a>
        </div>

        <div class="media-heading">
          <a class="btn btn-primary" href="{% url 'user:post_review' %}?event_id={{event.id}}">
            {% trans "Go to Event Review Page" %}
          </a>
        </div>

      </div>
    </div>
  </div>
  {% empty %}
  <p>{% trans "You have reviewed all the events participated!" %}</p>
  {% endfor %}
  </div>
</div>

{% if not user.is_helper %}

<div class="panel panel-danger">
    <div class="panel-heading">
      <div class="panel-title">{% trans "Participants not yet reviewed" %}</div>
    </div>
    <div class="panel-body">
  {% for event, user_list in user.get_zipped_unreviewed_hosted %}

  <div class="media">

    <div class="media-left">
      <a href="/event/{{event.pk}}">
        <div class="media-object custom_thumbnail list-thumbnail" style="background-image:url({{ event.get_image_url }});"></div>
      </a>
    </div>
    <div class="media-body">
      <div class="event-info pull-left">
        <div>
          {% if event.is_over %}
            <span class="label label-default" style="margin-right: 1em;">
              {{ event.get_status.msg }}
            </span>
          {% else %}
            {% if event in user.participating_event.all %}
              {% for participation in user.participation_set.all %}
                {% if participation.event == event %}
                  <span class="label label-warning" style="margin-right: 1em;">
                    {{ participation.status }}
                  </span>
                {% endif %}
              {% endfor %}
            {% else %}
              <span class="label label-info" style="margin-right: 1em;">
                {{ event.get_status.msg }}
              </span>
            {% endif %}
          {% endif %}
          <i class="fa fa-calendar" aria-hidden="true"></i>
          {{event.start_time_format | date:'n/j (D)' }}
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          {{event.get_region_kanji}}
        </div>
        <div class="media-heading">
          <a href="/event/{{event.pk}}">
            <h4>{{event.name}}</h4>
          </a>
        </div>
      </div>
    </div>
  </div>


      <div class="panel panel-default">
        <div class="panel-heading">User List</div>
          <div class="panel-body">
            <div class="row">
            {% for p_user in user_list %}
              <div class="col-sm-6 col-md-4">
                <a href="{% url 'user:detail' p_user.id %}" title="{{ p_user.username }}" class="row">
                  <div class="custom_thumbnail user_list_large-thumbnail col-xs-5" style="background-image: url({{ p_user.get_image_url }});"></div>
                  <div class="col-xs-7">
                    <br>
                    <h4>{{ p_user.username }}</h4>
                  </div>
                </a>
                <a class="btn btn-primary" href="{% url 'user:post_review' %}?event_id={{event.id}}&to_user_id={{p_user.pk}}">
                  {% trans "Write a review about this user" %}
                </a>
              </div>
            {% endfor %}
            </div>
          </div>
      </div>

  {% empty %}
    <p>{% trans "You have reviewed all the participants!" %}</p>
  {% endfor %}
  </div>
</div>

{% endif %}
{% endblock %}
