{% extends "container.html" %}
{% load i18n %}
{% block title %} {% trans "Post your review" %} | Sovol{% endblock %}

{% block content %}
<div class="panel panel-primary">
    <h1 class="panel-title">{% trans "Post your review" %}</h1>
</div>


{% if to_user.id %}

  <h1>{% trans "Please post a review about this event." %}</h1>
  <h1>{% trans "Event ID" %} : {{review_event.id}}</h1>
  <h1>{% trans "Owner" %} : {{review_event.host_user}}</h1>
  <h1>{% trans "Event Name" %} : {{review_event.name}}</h1>

  <h1>{% trans "Please post a review about this user." %}</h1>
  <h1>{% trans "User ID" %} : {{to_user.id}}</h1>
  <h1>{% trans "User Name" %}: {{to_user.usename}}</h1>
{% endif %}


<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans 'Submit' %}" />
</form>

{% endblock %}
