<div id="user-header" class="row">
  <div class="col-sm-5" style="text-align: center">
    <img class="" src={{ user.get_image_url }} alt="ユーザーアイコン" width="240" height="240">
  </div>
  <div class="col-sm-7">
    <div id="user-info" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{ user.username }}
          {% if user.id == request.user.id %}
            <a class="btn btn-default btn-sm" href="{% url 'user:edit' %}">プロフィール編集</a>
          {% endif %}
        </h3>
      </div>
      <div class="panel-body container-fluid">
        <div class="col-xs-6">
          <dl>
            <dt>表示名</dt>
            <dd>{{ user.username }}</dd>
            {% if user.birthday != null %}
              <dt>年齢</dt>
              <dd>{{ user.get_about_age }}代</dd>
            {% endif %}
            {% if user.sex != null %}
              <dt>性別</dt>
              <dd>{{ user.sex|yesno:"男,女,秘密" }}</dd>
            {% endif %}
            <dt>住んでる都道府県</dt>
            <dd>{{ user.get_region_kanji }}</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
