{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}ボランティア新規作成 | Sovol{% endblock %}
{% block content %}
<!-- テスト用のForm -->
<div class="row">
  {{ form.errors }}
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        新規ボランティア作成
      </div>
      <form action="" class="form-horizontal" method="post" enctype="multipart/form-data">
        <div class="panel-body">
          {% csrf_token %}
          {% include 'event/form_template.html' %}
        </div>
        <div class="panel-footer" style="text-align:center">
          <button class="btn btn-primary" type="submit">送信</button>
        </div>
      </form>
    </div>
    <div style="text-align: right">
      <h4><a class="btn btn-primary" href="{% url 'group:add' %}">新規グループ作成</a></h4>
    </div>
  </div>
</div>
{% endblock %}
