{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}
  イベント作成
{% endblock %}
{% block content %}
<!-- テスト用のForm -->
<div class="panel panel-default">
    <div class="panel-heading">
        イベント情報
    </div>
    <div class="panel-body">
        <form action="" class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'event/form_template.html' %}
            <div class="panel-footer" style="text-align:center">
                <button type="submit">送信</button>
            </div>
        </form>
    </div>

</div>

{% endblock %}