<div id="upcoming-events" class="panel panel-primary">
  <div class="panel-heading">
    <h4>コメント欄</h4>
  </div>
  <div class="panel-body">
    {% for comment in comment_list %}
    <div id="comment#comment.id" class="media">
      <div class="media-left">
        <img class="media-object" src={{comment.user.get_image_url}} width="64" height="64" alt="画像">
      </div>
      <div class="media-body">
        <div class="media-heading">
          <h4 style="display:inline-block">{{ forloop.counter }}: {{ comment.user.username }} <small><i>{{ comment.created }}</i></small></h4>
        </div>
        <div>
          {{ comment.text }}
        </div>
        {% for participation in request.user.participation_set.all %}
          {% if participation.event == event and request.user in event.admin.all %}
            <form method="post" action="{% url 'event:comment_delete' event_id=event.id pk=comment.id %}">
              {% csrf_token %}
              <button class="btn btn-link pull-right">コメントを削除</button>
            </form>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    {% endfor %}
    {% if request.user.is_authenticated %}
      <form id="comment-form" method="post" action="{% url 'event:comment' event.id %}">
        {% csrf_token %}
        <div class="media">
          <div class="media-left">
            <img class="media-object" src={{ request.user.get_image_url}} width="64" height="64" alt="画像">
          </div>
          <div class="media-body">
            <div class="media-heading">
              <h4 style="display:inline-block">{{ request.user.username }}</h4>
            </div>
            <div class="comment-input-area">
              <textarea rows="10" name="text" placeholder="コメント"></textarea>
                <button class="center-block">送信</button>
            </div>
          </div>
        </div>
      </form>
    {% endif %}
  </div>
</div>
