{% load i18n %}
<div id="upcoming-events" class="panel panel-default">
  <div class="panel-heading">{% trans "Comments" %}</div>
  <div class="panel-body">
    {% for comment in comment_list %}
    <div id="comment#comment.id" class="media">
      <div class="media-left">
        <div class="media-object custom_thumbnail list-thumbnail" style="background-image: url({{ comment.user.get_image_url }});"></div>
      </div>
      <div class="media-body">
        <div class="media-heading">
          <h4 style="display:inline-block">{{ forloop.counter }}: {{ comment.user.username }} <small><i>{{ comment.created }}</i></small></h4>
        </div>
        <div>
          {{ comment.text }}
        </div>
        {% for participation in request.user.participation_set.all %}
          {% if participation.event == event and request.user in event.admin.all %}
            <form method="post" action="{% url 'event:comment_delete' event_id=event.id pk=comment.id %}">
              {% csrf_token %}
              <button class="btn btn-link pull-right">{% trans "Delete this comment" %}</button>
            </form>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    {% endfor %}
    {% if request.user.is_authenticated %}
      <form id="comment-form" method="post" action="{% url 'event:comment' event.id %}">
        {% csrf_token %}
        <div class="media">
          <div class="media-left">
            <div class="media-object custom_thumbnail list-thumbnail" style="background-image: url({{ request.user.get_image_url }});"></div>
          </div>
          <div class="media-body">
            <div class="media-heading">
              <h4 style="display:inline-block">{{ request.user.username }}</h4>
            </div>
            <div class="form-group">
              <div class="comment-input-area">
                <textarea class="form-control" rows="10" name="text" placeholder="{% trans 'Write your comment here' %}" style="resize:vertical;"></textarea>
                <div class="g-recaptcha" data-sitekey="6Lcpki8UAAAAAC_3aggUiz7YkI18d7IgcLWxvIUy"></div>
                <div id="g-recaptcha-message" style="color: red;"></div>
                <button class="center-block btn btn-primary">{% trans "Post" %}</button>

                <script type="text/javascript">
                  $('#comment-form').submit(function () {
                    if (grecaptcha.getResponse().length != 0) {
                      return true;
                    }

                    $('#g-recaptcha-message')
                      .text("{% trans 'Please check the box above.' %}");

                    return false;
                  })
                </script>

              </div>
            </div>
          </div>
        </div>
      </form>
    {% endif %}
  </div>
</div>
