{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}
イベント(#{{event}})詳細
{% endblock %}
{% block content %}
<div>
	{% include "event/event_header.html" %}
	<div class="row">
		<div class="col-md-9">
			<p>
			<h2>日時： {{ event.start_time }} ～ {{ event.end_time }}</h2>
			<h2>場所： {{ event.place }}</h2>
			</p>
			<div class="panel panel-primary">
				<div class="panel-heading">
					説明
				</div>
				<div class="panel-body">
					{{ event.details }}
				</div>
			</div>

			<div class="panel panel-primary">
				<div class="panel-heading">
					募集詳細
				</div>
				<div class="panel-body">
					<li>集合場所：{{ event.meeting_place }}</li>
					<li>連絡先:{{ event.contact }}</li>
					<li>注意事項:{{ event.notes }}</li>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			{% include "event/side_info.html" %}
		</div>
	</div>
	{% if login_user_participating %}
	<form method="post" action={% url 'event:cancel' participation.id %}>
		{% csrf_token %}
		<input type="submit" value="CANCEL">
	</form>
	{% endif %}
	<div>
		<u>コメント</u>

	</div>
</div>

{% endblock %}