{% extends "container.html" %}
{% load i18n %}
{% block title %}{% trans "Edit your event" %} | {{ event.name }} | Sovol{% endblock %}
{% block content %}
{% include "event/event_header.html" %}
<div class="panel panel-default">

  <div class="panel-heading">
      {% trans "Edit Your Event" %}
  </div>
  <div class="alert" style="box-shadow: none;"><a class="btn btn-default pull-right" href="{% url 'event:add' %}?copy_event_id={{ event.id }}">{% trans "Create a new event based on this one" %}</a></div>
  <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
    <!--    {{ form.as_ul }} -->
    <div class="panel-body">
      {% csrf_token %}
      {% include 'event/form_template.html' %}
    </div>
    <div class="panel-footer" style="text-align:center">
      <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
    </div>
  </form>
</div>
<form method="post" action="{% url 'event:delete' event.id %}">
  {% csrf_token %}
  <button type="submit" class="center-block btn btn-danger" data-toggle="confirmation">{% trans "Delete this event" %}</button>
</form>

{% endblock %}
