{% for event in events %}
<div id="sample-event{{event.pk}}" class="media">
  <div class="media-left">
    <a href="/event/{{event.pk}}">
      <img class="media-object" src={{event.get_image_url}} width="64" height="64" alt="画像">
    </a>
  </div>
  <div class="media-body">
    <div class="event-info pull-left">
        <div class="media-heading">
          <a href="/event/{{event.pk}}">
            <h4>{{event.name}}</h4>
          </a>
        </div>
          {{event.start_time_format | date:'n/j (D)' }}
          {{event.get_region_kanji}}
        </div>
    <div class="event-status pull-right">
      <p>
        {% if event.is_over %}
        <p>{{ event.get_status }}</p>
        {% else %}
          {% if event in user.participating_event.all %}
            {% for participation in user.participation_set.all %}
              {% if participation.event == event %}
                  <p>{{ participation.status }}</p>
              {% endif %}
            {% endfor %}
          {% else %}
            {{ event.get_status }}
            {% if event.get_status　==　"募集中" %}
              <p><a href="{% url 'event:detail' event.id %}">応募する</a></p>
            {% endif %}
          {% endif %}
      {% endif %}
      </p>
    </div>
  </div>
</div>
{% empty %}
<p>ボランティアがありません</p>
{% endfor %}
