<div class="panel panel-primary">
    <div class="panel-heading">
      <h1 class="panel-title">{{ title }}</h1>
    </div>
    <div class="panel-body">
  {% for event in events %}
  <div class="media">
    <div class="media-left">
      <a href="/event/{{event.pk}}">
        <div class="media-object custom_thumbnail list-thumbnail" style="background-image:url({{ event.get_image_url }});"></div>
      </a>
    </div>
    <div class="media-body">
      <div class="event-info pull-left">
        <div>
          {% if event.is_over %}
            <span class="label label-default" style="margin-right: 1em;">
              {{ event.get_status }}
            </span>
          {% else %}
            {% if event in user.participating_event.all %}
              {% for participation in user.participation_set.all %}
                {% if participation.event == event %}
                  <span class="label label-warning" style="margin-right: 1em;">
                    {{ participation.status }}
                  </span>
                {% endif %}
              {% endfor %}
            {% else %}
              <span class="label label-info" style="margin-right: 1em;">
                {{ event.get_status }}
              </span>
            {% endif %}
          {% endif %}
          <i class="fa fa-calendar" aria-hidden="true"></i>
          {{event.start_time_format | date:'n/j (D)' }}
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          {{event.get_region_kanji}}
        </div>
        <div class="media-heading">
          <a href="/event/{{event.pk}}">
            <h4>{{event.name}}</h4>
          </a>
        </div>
      </div>
    </div>
  </div>
  {% empty %}
  <p>ボランティアがありません</p>
  {% endfor %}

  {% if title == "所属グループの新着ボランティア" %}
    <a class="btn btn-default pull-right" href="{% url 'group:add' %}">グループを作成</a>
    <a class="btn pull-right" href="{% url 'group:index' %}">グループ一覧</a>
  {% endif %}
  </div>
</div>