<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="media">
  <div class="media-left">
    <img src={{ event.get_image_url }} width="240" height="240">
  </div>
  <div class="media-body event-head-title">
    <h1 class="media-heading"><u><a href="{{ event.get_absolute_url }}">{{ event }}</a></u></h1>
      <!--管理者-->
    {% if request.user in event.admin.all %}
      <a href="{% url 'event:edit' event.id %}" type="button" class="btn btn-default">内容変更</a>
      <a href="{% url 'event:message' event.id %}" type="button" class="btn btn-default">メール一斉送信 </a>
      <!--参加者 -->
    {% elif request.user in event.participant.all %}
      <form method="post" action="{% url 'event:cancel' participation.id %}">
      {% csrf_token %}
        {% if participation.status == "参加中" %}
          <button>参加をキャンセルする</button>
        {% elif participation.status == "キャンセル待ち" %}
          <button>キャンセル待ちリストから外れる</button>
        {% else %}
          <button>フォローを外す</button>
              {% for frame in event.frame_set.all %}
                <p>{{ frame }}</p>
              {% if frame.is_full %}
                <a href="{% url 'event:participate' event.id frame.id %}" class="btn btn-default">キャンセル待ちリストに入る</a>
              {% else %}
                <a href="{% url 'event:participate' event.id frame.id %}" class="btn btn-default">参加する</a>
              {% endif %}
              {% endfor %}
        {% endif %}
      </form>
      <!--その他-->
    {% else %}
      <a href="{% url 'event:follow' event.id %}" class="btn btn-default">興味あり</a>
      {% for frame in event.frame_set.all %}
      <p>{{ frame }}</p>
        {% if frame.is_full %}
            <a href="{% url 'event:participate' event.id frame.id %}" class="btn btn-default">キャンセル待ちリストに入る</a>
        {% else %}
            <a href="{% url 'event:participate' event.id frame.id %}" class="btn btn-default">参加する</a>
        {% endif %}
      {% endfor %}
    {% endif %}
    <div class="btn pull-right btn-group .active">
      <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://twitter.com" data-text="So volo!!">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
  </div>
</div>
