<script type="text/javascript"
  src="//maps.googleapis.com/maps/api/js?key=AIzaSyAW5PZqv_tJA9Pd-il4UeG-Mk9622Ub7R0">
</script>


<div class="form-group">
  <label for="id_name" class="col-sm-3">ボランティア名<br><small><i>(20文字以内)</i></small></label>
  <div class="col-sm-9">
    <input id="id_name" class="form-control" maxlength="20" name="name" type="text" value="{{ event.name }}" required/>
  </div>
</div>

<div class="form-group">
  <label for="id_start_time" class="col-sm-3">開始</label>
  <div class="col-sm-9">
    <div class="input-group date datetimepicker">
      <input id="id_start_time"
        class="form-control"
        name="start_time"
        type="text"
        value="{{ event.start_time }}"
        required/>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="id_end_time" class="col-sm-3">終了</label>
  <div class="col-sm-9">
    <div class="input-group date datetimepicker">
      <input id="id_end_time"
        class="form-control"
        name="end_time"
        type="text"
        value="{{ event.end_time }}"
        required/>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>
</div>


<div class="form-group">
  <label for="id_region" class="col-sm-3">開催地域</label>
  <div class="col-sm-9">
    <select class="form-control" id="id_region" name="region">
      {% for v,pref in user.region_list %}
        <option value="{{ v }}" {% if v == event.region %}selected{% endif %}>{{ pref }}</option>
      {% endfor %}
    </select>
  </div>
</div>

<div class="form-group">
  <label for="id_meeting_place" class="col-sm-3">集合場所</label>
  <div class="col-sm-9">
    <input id="id_meeting_place" class="form-control" maxlength="400" name="meeting_place" type="text"
           value="{{ event.meeting_place }}" required/>
    <input type="button" class="btn btn-primary" onClick="getlatlng()" value="Google Map情報を取得">

    <input id="id_latitude" type="hidden" name="latitude">
    <input id="id_longitude" type="hidden" name="longitude">

    <p>詳細な位置はピンで指定してください</p>
    <div id="map_canvas" class="center-block"></div>

  </div>
</div>

<script>

  var gmap;
  var geocoder;
  var marker;

  function initialize(){
    var default_lat = 35.709984;
    var default_lng = 139.810703;
    var latlng = new google.maps.LatLng(default_lat,default_lng);
    var opts = {
      zoom: 15,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    gmap = new google.maps.Map(document.getElementById("map_canvas"), opts);

    {% if event.latitude and event.longitude %}
      latlng = new google.maps.LatLng({{ event.latitude }},{{ event.longitude }});
      gmap.setCenter(latlng);
      setPin(latlng);
    {% endif %}
  }

  function getlatlng(){
    geocoder = new google.maps.Geocoder();
    var address = document.getElementById("id_meeting_place").value;
    geocoder.geocode( { 'address': address}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          gmap.setCenter(results[0].geometry.location);
          setPin(results[0].geometry.location);
          //set values of hidden inputs
          $(('#id_latitude')).val(results[0].geometry.location.lat())
          $(('#id_longitude')).val(results[0].geometry.location.lng())
        } else {
          alert("緯度経度情報を取得できませんでした。");
        }
      });
  }

  function setPin(pos) {
    if (!marker) {
      marker = new google.maps.Marker({
        map: gmap,
        draggable: true
      })
      marker.addListener('dragend',function () {
        $(('#id_latitude')).val(marker.position.lat())
        $(('#id_longitude')).val(marker.position.lng())
      })
    }
    marker.setPosition(pos);
  }

  window.onload = initialize()
</script>


<div class="form-group">
  <label for="id_image" class="col-sm-3">ボランティア画像</label>
  <div class="col-sm-9">
    {% if event.image %}
      <p>現在の画像：</p>
      <div class="custom_thumbnail event_detail-thumbnail" style="background-image: url({{event.get_image_url}});"></div>
      <input id="id_image_url" type="hidden" name="image_url" value="{{ event.get_image_url }}">
      <p>画像を再設定する：</p>
    {% endif %}
      <input class="filestyle" id="id_image" name="image" type="file" data-buttonName="btn-primary" data-buttonText="選択..." />
  </div>
</div>

<div class="form-group">
  <label for="id_contact" class="col-sm-3">主催者連絡先</label>
  <div class="col-sm-9">
    {% if event.contact != null %}
      <input id="id_contact" class="form-control" maxlength="200" name="contact" type="text" value="{{ event.contact }}"
             required/>
    {% else %}
      <input id="id_contact" class="form-control" maxlength="200" name="contact" type="text" value="{{ user.email }}"
             required/>
    {% endif %}
  </div>
</div>

<div class="form-group">
  <label for="id_details" class="col-sm-3">詳細説明</label>
  <div class="col-sm-9">
    <textarea cols="40" id="id_details" class="form-control" name="details" rows="10" required>{{ event.details }}</textarea>
  </div>
</div>

<div class="form-group">
  <label for="id_notes" class="col-sm-3">注意事項<br> （全員に表示）</label>
  <div class="col-sm-9">
    <textarea cols="40" id="id_notes" class="form-control" name="notes" rows="10" placeholder="目安人数など">{{ event.notes }}</textarea>
  </div>
</div>

<div class="form-group">
  <label for="id_notes" class="col-sm-3">注意事項<br>（応募者のみに表示）</label>
  <div class="col-sm-9">
    <textarea cols="40" id="id_private_notes" class="form-control" name="private_notes"
              rows="10">{{ event.private_notes }}</textarea>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-3">管理者</label>
  <div class="col-sm-9">
    <div id="admins">
      {% for admin in event.admin.all %}
        <label>
          <div class="checkbox"><span><input name="admins" type="checkbox" value="{{ admin.username }}" checked>{{ admin.username }}</span></div>
        </label>
      {% endfor %}
    </div>
    <div class="input-group" id="adder">
      <input class="form-control" type="text" id="admin_name" placeholder="ニックネーム">
      <span class="input-group-btn">
        <button class="btn btn-primary" id="add_admin" type="button">追加</button>
      </span>
    </div>
    <script>
      (function () {
        var admins = document.querySelector("#admins");
        var admin_name = document.querySelector('#admin_name');
        var add_admin = document.querySelector('#add_admin');
        add_admin.addEventListener('click', function (e) {
          if (admin_name.value == "") return;
          var label = document.createElement('label');
          var value = admin_name.value;
          label.innerHTML = "<div class='checkbox'><span><input name='admins' type='checkbox' value=" + value + " checked>" + value + "<\/span><\/div>";
          admin_name.value = "";
          admins.appendChild(label);
        });
      })();
    </script>
  </div>
</div>


<div class="form-group">
  <label class="col-sm-3">参加枠</label>
  <div class="col-sm-9">
    <div id="frames">
      {% for frame in event.frame_set.all %}
        <div class="panel panel-default panel-body" style="margin:0">
          <div class="row">
            <input type="hidden" name="frame_number" value="{{ forloop.counter }}">
            {% if not request.GET.copy_event_id %}
              <input type="hidden" name="frame_{{ forloop.counter }}_id" value="{{ frame.id }}">
            {% endif %}
            <label class="col-sm-3">仕事内容</label>
            <div class="col-sm-9">
              <textarea class="form-control"
                        name="frame_{{ forloop.counter }}_description">{{ frame.description }}</textarea>
            </div>
            <label class="col-sm-3">上限人数</label>
            <div class="col-sm-9">
              <input class="form-control" type="number" min="0" max="2147483647" step="1" name="frame_{{ forloop.counter }}_upperlimit"
                     value="{{ frame.upper_limit|default_if_none:'' }}">
            </div>
            <label class="col-sm-3">応募締め切り</label>
            <div class='col-sm-9'>
              <input class="form-control datetimepicker" name="frame_{{ forloop.counter }}_deadline" type="text"
                     value="{{ frame.deadline }}">
            </div>
          </div>
        </div>
        {% empty %}
        <div class="panel panel-default panel-body" style="margin:0">
          <div class="row">
            <input type="hidden" name="frame_number" value="1">
            <!--<input type="hidden" name="frame_1_id" value="{{ frame.id }}">-->
            <label class="col-sm-3">仕事内容<sup><font color="red"></font></sup></label>
            <div class="col-sm-9">
              <textarea class="form-control" name="frame_1_description"></textarea>
            </div>
            <label class="col-sm-3">上限人数</label>
            <div class="col-sm-9">
              <input class="form-control" type="number" min="0" step="1"  max="2147483647" name="frame_1_upperlimit" placeholder="任意">
            </div>
            <label class="col-sm-3">応募締め切り</label>
            <div class='col-sm-9'>
              <input class="form-control datetimepicker deadend" name="frame_1_deadline" type="text" placeholder="任意">
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
    <button class="btn btn-primary" id="add_frame" type="button">参加枠追加</button>
    <script>
      $(function () {
        $('#add_frame').on('click', function (event) {
          var X = $('#frames>div').length + 1;

          var html = [
            '<div class="panel panel-default panel-body" style="margin:0" id="frame_number_' + X + '">',
            '  <div class="row">',
            '    <input type="hidden" name="frame_number" value="' + X + '">',
            // '    <input type="hidden" name="frame_'+X+'_id" value="{{ frame.id }}">',
            '    <label class="col-sm-3">仕事内容<sup><font color="red"></font></sup></label>',
            '    <div class="col-sm-9">',
            '      <textarea class="form-control" name="frame_' + X + '_description"></textarea>',
            '    </div>',
            '    <label class="col-sm-3">上限人数</label>',
            '    <div class="col-sm-9">',
            '      <input class="form-control" type="number" min="0"  max="2147483647" step="1" name="frame_'+X+'_upperlimit" placeholder="任意">',
            '    </div>',
            '    <label class="col-sm-3">応募締め切り</label>',
            '    <div class="col-sm-9">',
            '      <input class="form-control datetimepicker deadend" name="frame_'+X+'_deadline" type="text" placeholder="任意">',
            '      <script>',
            '        (function () {',
            '            $("#frame_number_' + X + ' .datetimepicker").datetimepicker({',
            '              locale: moment.locale("ja"),',
            '              format: "YYYY-MM-DD HH:mm",',
            '              sideBySide:true,',
            '              minDate: moment(),',
            '              stepping: 15,',
            '            });',
            '        })();',
            '      <\/script>',
            '    </div>',
            '  </div>',
            '</div>',
          ].join("\n");

          $wrapper = $('<div>');
          $wrapper.html(html);
          $('#frames').append($wrapper);
        });
      });
    </script>
  </div>
</div>


<div class="form-group">
  <label class="col-sm-3">関連付けるタグ</label>
  <div class="checkbox col-sm-9">
    {% for tag in all_tags %}
      <label><input type="checkbox" name="tags" value="{{ tag.id }}"
                    {% if tag in event.tag.all %}checked{% endif %}>{{ tag.name }}</label>
    {% endfor %}
  </div>
</div>

<div class="form-group">
  <label class="col-sm-3">グループの紐づけ</label>
  <div class="col-sm-9">
    <div class="checkbox" id="events">
      {% for group in event.group_set.all %}
        {% if forloop.first %}
          <h4>ボランティアに紐づけされたグループ</h4>
        {% endif %}
        <label>
          <input type="checkbox" name="groups" value="{{ group.id }}" checked>
          <div class="media">
            <div class="media-left">
              <a href="{% url "group:detail" group.id %}">
                <div class="custom_thumbnail list-thumbnail" style="background-image:url({{ group.get_image_url }})"></div>
              </a>
            </div>
            <div class="media-body">
              <h3 class="media-heading"><a href="{% url "group:detail" group.id %}">{{ group.name }}</a></h3>
              {{ group.description }}
            </div>
          </div>
        </label>
      {% endfor %}

      <h4>自分の管理しているグループ</h4>
      {% for group in request.user.admin_group.all %}
        {% if group not in event.group_set.all %}
          <label>
            <input type="checkbox" name="groups" value="{{ group.id }}">
            <div class="media">
              <div class="media-left">
                <a href="{% url "group:detail" group.id %}">
                  <div class="custom_thumbnail list-thumbnail" style="background-image:url({{ group.get_image_url }})"></div>
                </a>
              </div>
              <div class="media-body">
                <h3 class="media-heading"><a href="{% url "group:detail" group.id %}">{{ group.name }}</a></h3>
                {{ group.description }}
              </div>
            </div>
          </label>
        {% endif %}
      {% empty %}
        <p>管理しているグループはありません。</p>
      {% endfor %}
    </div>
  </div>
</div>

<style>
  #tags label {
    display: block;
  }

  #admins label {
    display: block;
  }

  #groups label {
    display: block;
  }
</style>

<script type="text/javascript">
(function (global) {
  var $ = global.jQuery;
  var moment = global.moment;

  var fmt = 'YYYY-MM-DD HH:mm';
  var jq_start = $('#id_start_time');
  var jq_end = $('#id_end_time');
  var jq_frames = $('#frames');

  var start = function () { return jq_start.val(); };
  var end = function () { return jq_end.val(); };

  $(function () {
    $('.datetimepicker').datetimepicker({
      locale: moment.locale('ja'),
      format: fmt,
      sideBySide: true,
      minDate: moment(),
      stepping: 15,
    });
  });

  var overwrap = function (s_start, s_end) {
    if (s_start.length === 0) {
      return true;
    }
    if (s_end.length === 0) {
      return true;
    }

    var m_start = moment(s_start, fmt);
    var m_end = moment(s_end, fmt);
    return m_start.diff(m_end) > 0;
  };

  $.fn.extend({
    reduce: function (cb, init) {
      this.each(function (i) {
        if (i === 0 && typeof init === 'undefined') {
          init = $(this);
        } else {
          init = cb.call($(this), init);
        }
      });
      return init;
    }
  });

  var deadend = function () {
    return jq_frames.find('.deadend')
      .reduce(function (e) { // minimum date
        return overwrap(this.val(), e.val()) ? e : this;
      })
      .val();
  };

  $(function () {
    jq_frames.on('dp.change', '.deadend', function () {
      var de = deadend();
      if (overwrap(de, start())) {
        jq_start.val(de);
      }

      if (overwrap(de, end())) {
        jq_end.val(de);
      }

      return true;
    })

    jq_start.closest('.datetimepicker').on('dp.change', function () {
      var st = start();
      if (overwrap(st, end())) {
        jq_end.val(st);
      }

      jq_frames.find('.deadend').each(function () {
        var self = $(this);
        if (overwrap(self.val(), st)) {
          self.val(st);
        }
        return true;
      });

      return true;
    });

    jq_end.closest('.datetimepicker').on('dp.change', function () {
      var en = end();
      if (overwrap(start(), en)) {
        jq_start.val(en);
      }

      jq_frames.find('.deadend').each(function () {
        var self = $(this);
        if (overwrap(self.val(), en)) {
          self.val(en);
        }
        return true;
      });

      return true;
    });
  });
})(this);
</script>
