{% extends "container.html" %}
{% load bootstrap3 %}

{% block title %}メッセージ一斉送信 | {{ event.name }} | Sovol{% endblock %}

{% block content %}
{% include "event/event_header.html" %}
<div class="row">
  <div class="col-md-9 block-center">
    <form action="" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="target" class="control-label">宛先</label>
        <select id="target" name="target" required class="form-control">
          <option value="admin">管理者</option>
          <option value="participants">管理者・参加者全員（キャンセル待ち含む）</option>
          <option value="members">管理者・参加者（キャンセル待ち除く）</option>
          <option value="waiting">管理者・キャンセル待ち</option>
        </select>
      </div>
      <div class="form-group">
        <label for="message" class="control-label">本文</label>
        <textarea id="message" class="form-control" name="message" rows="20" cols="80"></textarea>
      </div>
      <div class="form-group" style="text-align: center;">
        <button class="btn btn-primary" type="submit">送信</button>
      </div>
    </form>
  </div>
  <div class="col-md-3">
    {% include "event/side_info.html" %}
  </div>
</div>
{% endblock %}
