{% load i18n %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{% trans "Search for events" %}</h3>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" role="search" action="{% url 'event:search' %}" method="get">
      <div class="row">
        <div class="form-group col-xs-12 col-md-6" id="search-calendar">
          <div class="col-lg-12">
            <input type="hidden" id="searchform-date" class="form-control" name="date" />
          </div>
          <script>$(function () { $('#searchform-date').data("DateTimePicker").defaultDate('{{ request.GET.date }}');});</script>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="form-group" id="word-search">
            <label for="searchform-keyword" class="col-lg-4 control-label">{% trans "Keywords" %}</label>
            <div class="col-lg-8">
              <input type="text" id="searchform-keyword" class="form-control"  name="q" value="{{ request.GET.q }}"/>
            </div>
          </div>
          <div class="form-group" id="search-category">
            <label class="col-lg-4 control-label">{% trans "Filters" %}</label>
            <div class="checkbox col-lg-8">
              {% for tag in all_tags %}
                <label>
                  <input type="checkbox" name="tags" value="{{ tag.pk }}" {% if tag.pk in checked_tags %}checked{% endif %}>{{ tag.name }}
                </label>
              {% endfor %}
            </div>
          </div>
          <div class="form-group" id="search-area">
            <label for="searchform-area" class="col-lg-4 control-label">{% trans "Location" %}</label>
            <div class="col-lg-8">
              <select class="form-control" name="region">
                <option value="">{% trans "Not selected" %}</option>
                {% for alphabet, kanji in prefectures %}
                  <option value="{{ alphabet }}" {% if alphabet == request.GET.region %}selected{% endif %}>{{ kanji }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group center-block search-ordering">
            <label for="searchform-order_by" class="col-lg-4 control-label">{% trans "Sort by" %}</label>
            <div class="col-lg-8">
              <select class="form-control" name="order_by" id="searchform-order_by">
                <option value="start_time-asc" {% if request.GET.order_by == "start_time-asc" %}selected{% endif %}>{% trans "Start Date (Ascending)" %}</option>
                <option value="start_time-desc" {% if request.GET.order_by == "start_time-desc" %}selected{% endif %}>{% trans "Start Date (Descending)" %}</option>
              </select>
            </div>
          </div>
          <div class="form-group center-block search-ordering">
            <label for="searchform-numperpage" class="col-lg-4 control-label">{% trans "Display" %}</label>
            <div class="col-lg-8">
              <select class="form-control" name="numperpage" id="searchform-numperpage">
                <option value="10" {% if request.GET.numperpage == '10' %}selected{% endif %}>10 {% trans " events/page" %}</option>
                <option value="20" {% if request.GET.numperpage == '20' %}selected{% endif %}>20 {% trans " events/page" %}</option>
                <option value="50" {% if request.GET.numperpage == '50' %}selected{% endif %}>50 {% trans " events/page" %}</option>
              </select>
            </div>
          </div>
          <div class="form-group center-block search-ordering">
            <label for="searchform-closed" class="col-lg-4 control-label">{% trans "Status" %}</label>
            <div class="checkbox col-lg-8">
              <input type="checkbox" style="margin-left:0" name="exclude_closed_events" id="searchform-closed" {% if request.GET.exclude_closed_events == 'on' %}checked{% endif %}>　 {% trans "Show closed events" %}
              <br>
              <input type="checkbox" style="margin-left:0" name="exclude_full_events" id="searchform-full" {% if request.GET.exclude_full_events == 'on' %}checked{% endif %}>　 {% trans "Show full events" %}
            </div>
          </div>
          <div class="row">
            <button type="submit" class="btn btn-primary col-sm-4 col-sm-offset-4 col-lg-2 col-lg-offset-5 col-xs-8 col-xs-offset-2">{% trans "Search" %}</button>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>
