{% load event_tags %}

<div class="panel panel-primary">
  <div class="panel-heading">主催者</div>
  <div class="panel-body">
    <a href="{% url 'user:detail' event.host_user_id %}">
      <img src="{{ event.host_user.get_image_url }}" width="24" height="24">
      {{event.host_user.username}}
    </a>
  </div>
  {% user_list event.admin.all "管理者" event %}
  {% user_list event.get_reserved_users "参加者" event %}
  {% if event.is_full %}
    {% user_list event.get_waiting_users "キャンセル待ち" event %}
  {% endif %}
</div>

<div class="panel panel-primary">
  <div class="panel-heading">グループ</div>
  <div class="panel-body">
    {% for group in event.group_set.all %}
      <p><a href="{% url 'group:detail' group.id %}"><img src="{{ group.get_image_url }}" width="24" height="24">&nbsp;{{ group.name }}</a></p>
    {% empty %}
      <p>関連しているグループはありません</p>
    {% endfor %}
  </div>
  <div class="panel-heading">タグ</div>
  <div class="panel-body">
    {% for tags in event.tag.all %}
      <a class="tag" href="{% url 'event:search' %}?tags={{ tags.id }}"><i class="fa fa-tag" aria-hidden="true"></i>{{ tags.name }}</a>
    {% empty %}
      <p>このボランティアはタグ付けされていません</p>
    {% endfor %}
  </div>
</div>
