<div class="panel panel-primary">
  <div class="panel-heading">主催者</div>
  <div class="panel-body">
    <a href="{% url 'user:detail' event.host_user_id %}">
      <img src="{{ event.host_user.get_image_url }}" width="24" height="24">
      {{event.host_user.username}}
    </a>
  </div>
  <div class="panel-heading">管理者</div>
  <div class="panel-body">
    {% for administer in event.admin.all %}
    <a href="{% url 'user:detail' administer.id %}" title="{{ administer.username }}">
      <img src="{{ administer.get_image_url }}" width="24" height="24">
    </a>
    {% endfor%}
  </div>
  <div class="panel-heading">参加者</div>
  <div class="panel-body">
    {% for participant in event.participant.all|slice:":10" %}
    <a href="{% url 'user:detail' participant.id %}" title="{{ participant.username }}">
      <img src="{{ participant.get_image_url }}" width="24" height="24">
    </a>
    {% endfor %}
    <a href="{% url 'event:participants' event.id %}" class="pull-right">もっと見る</a>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">グループ</div>
  <div class="panel-body">
    {% for group in event.group_set.all %}
      <p><a href="{% url 'group:detail' group.id %}"><img src="{{ group.get_image_url }}" width="24" height="24">&nbsp;{{ group.name }}</a></p>
    {% empty %}
      <p>関連しているグループはありません</p>
    {% endfor %}
  </div>
  <div class="panel-heading">タグ</div>
  <div class="panel-body">
    {% for tags in event.tag.all %}
      <a class="btn btn-primary" href="{% url 'event:search' %}?tags={{ tags.id }}">{{ tags.name }}</a>
    {% empty %}
      <p>このボランティアはタグ付けされていません</p>
    {% endfor %}
  </div>
</div>
