<li>主催者：
  <a href="{% url 'user:detail' event.host_user_id %}">
    <img src="{{ event.host_user.get_image_url }}" width="24" height="24">
  </a>
  {{event.host_user.username}}
</li>
<li>グループ：{{event.host_group}}</li>
<!-- <div class="panel panel-primary">
  <div class="panel-heading">
    管理者
  </div>
  <div class="panel-body">
    interlink
  </div>
</div> -->
<div class="panel panel-primary">
  <div class="panel-heading">
    参加者
  </div>
  <div class="panel-body">
    student
    <a href="{% url 'event:participants' event.id %}" class="pull-right">もっと見る</a>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    参加状況
  </div>
  <div class="panel-body">
    {% for frame in event.frame_set.all %}
    <div>
      <h5>{{frame.description}}:(～{{frame.deadline}})</h5>
      ??人
      /{{frame.upper_limit}}人
      <a href="{% url 'event:participate' event.id frame.id %}" class="btn btn-default pull-right">参加</a>
    </div>
    {% endfor %}
  </div>
</div>
