$margin: 50px;

$color-pallet: (
  'primary': #9BF4D5,  /* 見出し     */
  'accent': #29CDB5,   /* ヘッダー色 */
  'dark': #373331,     /* 字         */
  'light': #FFF3E1,    /* 背景       */
  'hot': #FFD5D3,      /* ホット！   */
  'cold': #D5D3FF,     /* コールド！ */
);


@function custom-color($key: 'primary') {
  @return map-get($color-pallet, $key);
}

#user-header {
  padding: 30px;
}

#user-detail-info {
  margin-left: $margin;
  margin-right: $margin;
}

#search-area {
  div {
    margin: 0px;
  }
}

#main-content {
  padding-bottom: 70px;
}

/* Flush footer to the bottom */
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.main-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -70px;
}
footer, .footer-push {
  height: 70px;
}
footer {
  color: custom-color('light');
  background-color: custom-color('dark');
  padding: 2rem 0;
  border-top: solid 1px darken(custom-color('dark'), 10%);
}

/* bootstrap-datetimepicker tweak */
.datepicker-days {
  tr {
    /* すべての休みは青に */
    td.day.weekend:not(.active) {
      background-color: custom-color('cold');
    }
    /* 連休の二日目以降は赤に */
    td.day.weekend + td.day.weekend:not(.active) {
      background-color: custom-color('hot');
    }
  }
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  display: block;
}


/* Override Bootstrap 4 styling on Django Debug Toolbar */
#djDebug[hidden], #djDebug [hidden] {
  display: block !important;
}
#djDebug [hidden][style='display: none;'] {
  display: none !important;
}
