$color-pallet: (
  'primary': #9BF4D5,  /* 見出し     */
  'accent': #29CDB5,   /* ヘッダー色 */
  'dark': #373331,     /* 字         */
  'light': #FFF3E1,    /* 背景       */
  'hot': #FFD5D3,      /* ホット！   */
  'cold': #D5D3FF,     /* コールド！ */
  'red': #FF4500, /* 赤 */
  'white' : #fff
);

@function custom-color($key: 'primary') {
  @return map-get($color-pallet, $key);
}

h1{
  font-size: 20px !important;
}

nav{
  color: #000 !important;
  background-color: #f3f3f3;
}

#main{
  background-color: #f3f3f3;
  width: 100%;
}

.m10{margin: 10px;}
.m15{margin: 15px;}
.mt5{margin-top: 5px;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}

.pt15{padding-top: 15px;}

#search-area {
  div {
    margin-top: 3px;
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
  }
}

#main-content {
  background: #fff;
  padding-bottom: 70px;
}

/* Comment Area */
.comment-input-area{
  width: 100%;
}

.comment-input-area textarea{
  width: 100%;
}

.emphasis {
  font-size: 200%;
  color: custom-color('red');
}

.event-status {
  text-align: right;
}

.tag {
  display: inline-block;
  &-label{
    display: inline-block;
    font-size: 19px; 
  }
  &-select{
    cursor: pointer;
    >input[type="checkbox"]{
      display: none;
    }
  }
}


.skill{
  &-list{
    &-item{
      &>.list-group-item-heading{
        font-size: 20px;
      }

    }
  }
}

/* Google Maps */
#map_canvas{
  min-height: 300px;
  min-width: 300px;
  height:100%;
  width:100%;
  margin-top:10px;
}
#map_canvas2{
  min-height: 200px;
  min-width: 200px;
  height:100%;
  width:100%;
  margin-top:10px;
  @media(min-width: 450px){
    min-height: 400px;
    min-width: 400px;
  }
  @media(min-width: 768px){
    min-height: 400px;
    min-width: 400px;
  }
}

/* Flush footer to the bottom */
* {
  margin: 0;
}
html, body {
  height: 100%;
}

ul>li{
  list-style: none;
}

.main-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -70px;
}
footer, .footer-push {
  height: 70px;
}
footer {
  color: custom-color('light');
  background-color: custom-color('dark');
  padding: 2rem 0;
  border-top: solid 1px darken(custom-color('dark'), 10%);

  a {
    color: darken(custom-color('primary'), 10%);
    &:hover {
      color: custom-color('primary');
    }
  }
}

/* images */
.custom_thumbnail{
  display: inline-block;
  background-position:center;
  background-size:cover;
}

/* Safari only */
_::-webkit-:not(:root:root), .detail-thumbnail {
  height: 200px!important;
}

.list-thumbnail{
  width:64px;
  height:64px;
}

.detail-thumbnail{
  width:100%;
  height:100%;
}

.user-list-thumbnail{
  width:24px;
  height:24px;
}

.group_list-element{
  display:block;
  height:24px;
}

.group_list-thumbnail{
  width:24px;
  height:24px;
  margin-bottom: 0;
}

.group_list-description{
  position:absolute;
  display:inline-block;
  height:24px;
  margin-left: 2px;
}

.user_list_large-thumbnail{
  width:100px;
  height:100px;
}

/* Details Page Headers */
#user-header {
  img {
    padding: 10px;
  }
}

.detail{
  $detail-img-size : 250px;
  &-thumbnail{
    width: $detail-img-size;
    height: $detail-img-size;
  }
}

.header{
  &-search{
    width: 80%;
    display: inline;
    margin-left: 10px;
    @media(min-width: 768px){
      width: 100%; 
    }
  }
  &-notif{
    &-badge{
      display: inline !important;
      padding: 0 !important;
      position: absolute !important;
      z-index: 10;
      &>span{
        background-color: #ec1a2e;
      }
      top: 10px;
      left: 30px;
      @media(min-width: 768px){
        top: 14px;
        left: 17px;
      }
    }
  }
}

#notification{
  height: 69px;
  padding: 25px 15px 20px;
}
.navbar-right > li{
  height: 100%;
}


/* Event Details page */

/* Event List page */

.event-info{
  width:100%;
  margin-top: 5px;
}

/* bootstrap-datetimepicker tweak */
.datepicker-days {
  tr {
    /* すべての休みは青に */
    td.day.weekend:not(.active) {
      background-color: custom-color('cold');
    }
    /* 連休の二日目以降は赤に */
    td.day.weekend + td.day.weekend:not(.active) {
      background-color: custom-color('hot');
    }
    /*　選択した日付を色付け */
    td.day.active {
      background-color: #F86D6D;
      border-radius: 4px
    }
  }
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  display: block;
}

/* header, footer dropshadow */
.navbar {
  -webkit-box-shadow: 0 2px 2px 0 #999;
     -moz-box-shadow: 0 2px 2px 0 #999;
          box-shadow: 0 2px 2px 0 #999;
}
footer {
  -webkit-box-shadow: 0 -2px 2px 0 #999;
     -moz-box-shadow: 0 -2px 2px 0 #999;
          box-shadow: 0 -2px 2px 0 #999;
}


/* Override Bootstrap 4 styling on Django Debug Toolbar */
#djDebug[hidden], #djDebug [hidden] {
  display: block !important;
}
#djDebug [hidden][style='display: none;'] {
  display: none !important;
}

/* support */

.sovolage-point {
  font-size:large;
  margin-left: 10px;
  margin-right: 10px;
}

.trophy-master {
  color: #ffd700;
}

.trophy-senior {
  color: #c0c0c0;
}

.trophy-beginner {
  color: #cd7f32;
}

.trophy-rookie {
  color: #0000cd;
}

.trophy-box {
  display: inline-block;
  text-align: center;
  width: 80px;
}

$slide-img-size : 150px;

.swiper-container{
  width: 100%;
  height: $slide-img-size+50px;
}


.swiper-slide{
  width: $slide-img-size*2+6px !important;
  height: $slide-img-size+2px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 60%;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.card{
  width: $slide-img-size*2+6px;
  height: $slide-img-size;
  border: 1px solid #ccc;
  &-img{
    width: $slide-img-size;
    height: $slide-img-size;
    padding: 0;
    >img{
      width: $slide-img-size;
      height: $slide-img-size;
    }
  }
  &-block{
    padding: 0;
    width: $slide-img-size;
    height: $slide-img-size;
    >.btn{
      margin: 0 auto;
    }
  }
  &-title{
    font-size: 14px;
    height: 3.2em;
    overflow: hidden;
  }
  &-text{
    font-size: 14px;
    height: 2.5em;
  }
}

.event{
  &-active{
    background-color: #efefef;
  }
  &-filter{
    padding: 5px;
    border-radius: 7px;
    margin-bottom: 3px;
    cursor: pointer;
    &:hover{
      background-color: #efefef;
    }
  }
}

#event-area>div{
  min-height: 200px;
}

#navbar-collapse-content>form.navbar-form{
  margin: 17px!important;
}

$logo-height :65px;
.logo{
  width: $logo-height*2;
  height: $logo-height;
  padding: 0 15px 0 !important;
  img{
    width: $logo-height*2;
    height: $logo-height;
    display: inline-block;
    vertical-align: middle; 
  }
}

.top-search{
  padding: 6px 12px 7px;
}

#top-image{
  height: 300px;
  background-size: 100% 100% !important;
  margin-bottom: 30px;
  position: relative;
  h2{
    font-size: 30px;
    color: white;
    position: absolute;
    top: 30px;
    left: 50px;
  }
}

#top-tabs{
  margin-top: 10px;
}

.container-fluid-button{
  text-align: center;
  padding-top: 200px;
  a{
    background-image: -webkit-linear-gradient(top,#ff2730 0,#e9000a 100%);
    background-image: -o-linear-gradient(top,#ff2730 0,#e9000a 100%);
    background-image: linear-gradient(to bottom,#ff2730 0,#e9000a 100%);
    background-repeat: repeat-x;
    background-repeat: repeat-x;
    border-color: #df0009;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(152,152,152,0.5);
    padding: 15px 15px;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
  }  
}

.input-loc{
  padding: 0;
  border: none;
  &-btn{
  border-width: 1px 0 1px;
  border-style: solid;
  border-color: #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  border-radius: none;
  box-sizing: border-box;
  height: 34px;
    &_2{
      font-size: 14px !important;
      height: 34px;
    }
    &_3{
      margin: 10px 0 !important;
    }
  }
}

#id_meeting_place{
  border-right: none;
}

.side-search-btn{
  margin: 0 auto;
  display: block;
}

.panel-heading{
  a[data-toggle="collapse"]{
    &>h3,div{
      position: relative;
    }
    &.collapsed{
      &>h3,div{
         &:after{
          font-family: "FontAwesome";
          content: "\f053";
          position: absolute;
          right: 0;
        }
      }
    }
    &:not(.collapsed){
      &>h3,div{
         &:after{
          font-family: "FontAwesome";
          content: "\f078";
          position: absolute;
          right: 0;
        }
      }
    }
  }
}

.review{
  &-form{
    margin: 0;
    padding: 10px;
    background-color: #fff9db;
  }
  &-btn{
    width: 150px;
  }
}

.review{
  &-form{
    margin: 0;
    padding: 10px;
    background-color: #fff9db;
  }
}

#skilllist_username{
  position: absolute;
  left: 120px;
}

.fa{
  &-starsize{
    font-size: 20px;
  }
  &-white{
    color: #ccc;
  }
  &-yellow{
    color: #ff9800;
  }
}
