{% extends "base.html" %}
{% load event_tags %}
{% load user_tags %}
{% block title %}
{{ review.title }} グループ詳細 | Sovol
{% endblock %}
{% block content %}
{% include "review/review_header.html" %}
<div class="row">
  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="panel-title">説明</h1>
      </div>
      <div class="panel-body">{{ review.text }}</div>
    </div>
    {% event_list review.event.all "グループ主催のボランティア一覧" %}

  </div>
  <div class="col-md-3">
    {% include "review/side_info.html" %}
  </div>
</div>

{% endblock %}
