{% extends "base.html" %}
{% load event_tags %}
{% block title %}
グループ詳細(#{{group.id}})
{% endblock %}
{% block content %}
{% include "group/group_header.html" %}
<div class="row">
  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="panel-title">説明</h1>
      </div>
      <div class="panel-body">{{ group.description }}</div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="panel-title">グループ主催のボランティア一覧</h1>
      </div>
      <div class="panel-body">
        {% event_list group.event.all request.user %}
      </div>
    </div>
  </div>
  <div class="col-md-3">
    {% include "group/side_info.html" %}
  </div>
</div>

{% endblock %}
