{% extends "base.html" %}
{% load i18n %}
{% load event_tags %}
{% load user_tags %}
{% block title %}
{{ group.name }} グループ詳細 | Sovol
{% endblock %}
{% block content %}
{% include "group/group_header.html" %}
<div class="row">
  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="panel-title">説明</h1>
      </div>
      <div class="panel-body">{{ group.description }}</div>
    </div>
    {% event_list group.event.all "グループ主催のボランティア一覧" %}

  </div>
  <div class="col-md-3">
    {% include "group/side_info.html" %}
  </div>
</div>

{% endblock %}
