{% extends "base.html" %}
{% block title %}
グループ編集 | {{ group.name }} | Sovol
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">グループ編集</div>
            <form action="" class="form-horizontal" method="post" enctype="multipart/form-data">
                <div class="panel-body">
                    {% csrf_token %}
                    {% include 'group/form_template.html' %}
                </div>
                <div class="panel-footer" style="text-align:center">
                    <button type="submit">編集</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}