<div class="form-group">
  <label id="id_name" class="col-sm-3">グループ名</label>
  <div class="col-sm-9">
    <input id="id_name" class="form-control" maxlength="100" name="name" type="text" required=""
           value="{{ group.name }}">
  </div>
</div>

<div class="form-group">
  <label id="id_description" class="col-sm-3">グループの説明:</label>
  <div class="col-sm-9">
    <textarea cols="40" class="form-control" id="id_description" name="description" rows="10"
              required="">{{ group.description }}</textarea>
  </div>
</div>

<div class="form-group">
  <label id="id_image" class="col-sm-3">グループ画像:</label>
  <img scr="{{ group.image_url }}" width="300">
  <div class="col-sm-9">
    <input id="id_image" name="image" type="file">
  </div>
</div>

<div class="form-group">
  <label class="col-sm-3">管理者</label>
  <div class="col-sm-9">
    <div id="admins">
      {% for admin in group.admins %}
        <label><input name="admins" type="checkbox" value="{{ admin.username }}" checked>
          {{ admin.username }}
        </label>
      {% endfor %}
    </div>
    <div id="adder">
      <input type="text" id="admin_name" placeholder="username">
      <button id="add_admin" type="button">追加</button>
    </div>
    <script>
      (function () {
        var admins = document.querySelector("#admins");
        var admin_name = document.querySelector('#admin_name');
        var add_admin = document.querySelector('#add_admin');
        add_admin.addEventListener('click', function (e) {
          var label = document.createElement('label');
          var value = admin_name.value;
          label.innerHTML = "<input name='admins' type='checkbox' value=" + value + " checked>" + value;
          admin_name.value = "";
          admins.appendChild(label);
        });
      })();
    </script>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-3">ボランティアとの紐づけ</label>
  <div class="col-sm-9">
    <div id="events">
      {% for event in group.event.all %}
      {% if forloop.first %}
        <h4>グループに紐づけされたボランティア</h4>
      {% endif %}
        <label>
          <input type="checkbox" name="events" value="{{ event.id }}" {% if event in group.event.all %}checked{% endif %}>
          {{ event.name }}
        </label>
      {% endfor %}

      <h4>自分の管理しているボランティア</h4>
      {% for event in request.user.admin_event.all %}
        <label>
          <input type="checkbox" name="events" value="{{ event.id }}" {% if event in group.event.all %}checked{% endif %}>
          {{ event.name }}
        </label>
      {% empty %}
        <p>管理しているボランティア活動はありません。</p>
      {% endfor %}
    </div>
  </div>
</div>

<style>
  #admins label {
    display: block;
  }

  #events label {
    display: block;
  }
</style>