<div class="media">
  <div class="media-left">
    <img class="media-object" src="#" alt="グループアイコン" width="240" height="240">
  </div>
  <div class="media-body">
    <h1 class="media-heading">
      <u>{{ group.name }}</u>
    </h1>
    {% if not group.membership_set.filter.exists %}
      <a class="btn btn-default pull-right" href="#">グループに参加する</a>
    {% elif group.membership_set.filter.first.role == 'Normal'%}
      <a class="btn btn-default pull-right" href="#">グループから脱退</a>
    {% elif group.membership_set.filter.first.role == 'admin' %}
      <a class="btn btn-default pull-right" href="#">グループ編集</a>
    {% endif %}
  </div>
</div>
