{% extends "base.html" %}
{% block title %}
グループ新規作成
{% endblock %}
{% block content %}
<!-- テスト用のForm -->
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        新規グループ作成
      </div>
      <form action="" class="form-horizontal" method="post" enctype="multipart/form-data">
        <div class="panel-body">
          {% csrf_token %}
          {% include 'event/form_template.html' %}
          <div class="form-group">
            <label class="col-sm-2">グループ主催のボランティア</label>
            <div class="col-sm-10">
              {% for i in "ABCDEFG" %}
                <!-- 自分が作成したイベント -->
                <input type="checkbox" name="#">ボランティア{{i}}
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="panel-footer" style="text-align:center">
          <button type="submit">作成</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}