<div class="media">
  <div class="media-left">
      <div class="media-object thumbnail group_detail-thumbnail" style="background-image:url({{ group.get_image_url }});"></div>
  </div>
  <div class="media-body">
    <h1 class="media-heading">
      <u>{{ group.name }}</u>
    </h1>
    {% if request.user in group.admins %}
      <a class="btn btn-default pull-right" href="{% url 'group:edit' group.id %}">グループを編集</a>
    {% elif request.user in group.members %}
      <a class="btn btn-default pull-right" href="{% url 'group:leave' group.id %}">グループから脱退</a>
    {% else  %}
      <a class="btn btn-default pull-right" href="{% url 'group:join' group.id %}">グループに参加</a>
    {% endif %}
  </div>
</div>
