{% extends "base.html" %}

{% block title %}
{{ group.name }} グループ一覧 | Sovol
{% endblock %}

{% block content %}
 <div class="panel panel-primary">
    <div class="panel-heading">
      <h1 class="panel-title">グループ一覧</h1>
    </div>
    <div class="panel-body">
      {% for group in all_groups %}
        <div class="media">
          <div class="media-left">
            <a href="{% url "group:detail" group.id %}">
              <img class="media-object" src="{{ group.get_image_url }}" alt="image" width="64" height="64">
            </a>
          </div>
          <div class="media-body">
            <h3 class="media-heading"><a href="{% url "group:detail" group.id %}">{{ group.name }}</a></h3>
            {{ group.description }}
          </div>
        </div>
      {% empty %}
      <p>グループがありません</p>
      {% endfor %}
    </div>
 </div>
{% endblock %}