{% extends "container.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}
メンバー一覧 | {{ group.name }} | Sovol
{% endblock %}
{% block content %}
    {% include "group/group_header.html" %}
    <div class="panel panel-primary">
        <div class="panel-heading">管理者</div>
        <div class="panel-body">
            <div class="row">
                {% for user in admins %}
                    <div class="col-md-2">
                        <img src="{{ user.get_image_url }}" width="100" height="100">
                        <div>{{ user.username }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">メンバー</div>
        <div class="panel-body">
            <div class="row">
                {% for user in members %}
                    <div class="col-md-2">
                        <img src="{{ user.get_image_url }}" width="100" height="100">
                        <div>{{ user.username }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
