<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">管理者</h1>
  </div>
  <div class="panel-body">
    {% for i in "ABC" %}
    <img src="#" alt="{{i}}" width="30" height="30">
    {% endfor %}
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">参加者</h1>
  </div>
  <div class="panel-body">
    {% for i in "ABCDEFGIHJKLMNOPQRSTUVWXYZ" %}
    <img src="#" alt="{{i}}" width="30" height="30">
    {% endfor %}
  </div>
</div>
