<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">管理者</h1>
  </div>
  <div class="panel-body">
    {% for user in group.admins %}
      <img src="{{ user.get_image_url }}" alt="{{ user.username }}" width="30" height="30">
    {% endfor %}
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">参加者</h1>
  </div>
  <div class="panel-body">
    {% for user in group.members %}
      <img src="{{ user.get_image_url }}" alt="{{ user.username }}" width="30" height="30">
    {% endfor %}
  </div>
</div>
