{% load i18n %}
<!DOCTYPE html>
<html>
<head>{% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% block title %}{% endblock %}</title>

  {% load bootstrap3 %}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery=True %}
  <script type="text/javascript" src="{% static 'js/jquery-migrate.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/moment-with-locales.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/croppie.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap-confirmation.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap-filestyle.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/polyfiller.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/handlebars.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/script.min.js' %}"></script>
  <script type="text/javascript" src='https://www.google.com/recaptcha/api.js'></script>
  <script type="text/javascript" src="{% static 'js/swiper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/spin.js' %}"></script>
  <!--<link rel="stylesheet" href="{% static 'css/reset.css' %}"/>-->
  <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker-custom.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/croppie.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}"/>

  <link rel="shorcut icon" href="/static/img/icon.png"/>
  <link rel="icon" href="/static/img/icon.png"/>
  <link rel="mask-icon" href="/static/img/icon.png" color="black">

</head>
<body>
  <div class="main-wrapper">
    <header>
      <nav role="navigation" class="navbar navbar-default">
        <!--container-fluid-->
        <div class="container-fluid">
          <!--navbar-header-->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-content" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="{% url 'top' %}">
              <img src="{% static 'img/logo.png' %}"/>
            </a>
          </div>
          <!--end of navbar-header-->

          <!--navbar-collapse-->
          <div class="collapse navbar-collapse" id="navbar-collapse-content">
            <!--検索フォーム-->
            <form class="navbar-form navbar-left" role="search" action="{% url 'event:search' %}" method="get" style="margin:auto 0;">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="{% trans 'Find Events' %}" name="q">
                  <span class="input-group-btn">
                    <button class="btn btn-primary top-search" type="submit">
                    <i class='glyphicon glyphicon-search'></i>
                    </button>
                  </span>
                </div>
            </form>
            <!--end of form-->

            <!--イベント追加フォーム-->
            <ul class="nav navbar-nav">
              <li class="text-center">
                <a class="btn" href="{% url 'event:add' %}" role="button">{% trans "Create an event" %}</a>
              </li>
            </ul>

            <!--right menu-->
            <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_anonymous %}
            <!--言語切り替え-->
              <li>
                {% get_available_languages as LANGUAGES %}
                <form action="/i18n/setlang/" method="post" id="languagetab">{% csrf_token %}
                  <input name="next" type="hidden" value="/" />
                    {% csrf_token %}
                    <select name="language">
                      {% for lang in LANGUAGES %}
                        <option value="{{ lang.0 }}">{{ lang.1 }}</option>
                      {% endfor %}
                    </select>
                  <input type="submit" value="change" />
                </form>
              </li>
              <li class="pull-left"><a href="{% url 'user:register' %}">{% trans "Register" %}</a></li>
              <li class="pull-left"><a href="{% url 'user:login' %}">{% trans "Log in" %}</a></li>
            {% else %}
              <li class="dropdown">
                <span class="badge badge-notification">4</span>
                <a href="#" id="notification" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-bell-o" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dUser">
                  <li><a href="">uhhhhhhhhhh</a></li>
                  <li><a href="">hogegege</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="{% url 'user:unreviewed' %}">{% trans "View All Notifications" %}</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" id="dUser" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <img src="{{ request.user.get_image_url }}" width="24" height="24">
                    {{ request.user.username }}
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dUser">
                    <li><a href="{% url 'user:detail' request.user.id %}">{% trans 'Profile' %}</a></li>
                    <li><a href="{% url 'user:logout' %}">{% trans "Log out" %}</a></li>
                  </ul>
              </li>
            {% endif %}
            </ul>
            <!--end of right menu-->

            <!--言語切り替え-->
            {% if not request.user.is_anonymous %}
            <form class="navbar-form navbar-right" action="{% url 'event:search' %}" method="get" style="margin:auto 0;">
              <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                {% trans "Change language" %}
              </button>
            </form>
            {% endif %}
            <!--end of form-->
          </div>
          <!--end of navbar-collapse-->
        </div>
        <!--end of container-fluid-->
      </nav>
    </header>

    {% block container %}{% endblock %}

    <div class="footer-push"></div>
  </div>

<footer class="container-fluid">
  <div class="container text-center">
    <span>&copy; 2016 Interlink</span>
  </div>
    {% load git %}
  <div class="container text-center">
    <span>rev: <a href="https://github.com/internship2016/sovolo/commit/{% git_version %}">{% git_version %}</a></span>
  </div>
</footer>


</body>
</html>
