<!DOCTYPE html>
<html>
<head>{% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% block title %}{% endblock %}</title>

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=True %}
<script type="text/javascript" src="{% static 'js/jquery-migrate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment-with-locales.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/croppie.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-confirmation.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-filestyle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/polyfiller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker-custom.css' %}" />
<link rel="stylesheet" href="{% static 'css/bootstrap-social.css' %}" />
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/croppie.css' %}" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" />

</head>
<body>
  <div class="main-wrapper">
<header>

  <nav role="navigation" class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header navbar-left pull-left">
        <a class="navbar-brand" href="{% url 'top' %}">
          <img src="{% static 'img/logo.svg' %}" style="max-width:24px;height:auto;display:inline-block;vertical-align:middle;" />
          Sovol
        </a>
      </div>

      <div class="navbar-header navbar-right pull-right">
        {% if not request.user.is_anonymous %}
          <ul class="nav navbar-nav pull-left">
            <li class="dropdown">
               <a href="#" id="dUser" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <img src="{{ request.user.get_image_url }}" width="24" height="24">
                  {{ request.user.username }}
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dUser">
                  <li><a href="{% url 'user:detail' request.user.id %}">プロフィール</a></li>
                  <li><a href="{% url 'user:logout' %}">ログアウト</a></li>
                </ul>
            </li>
          </ul>
        {% endif %}

        <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="visible-xs-block clearfix"></div>

      <div class="collapse navbar-collapse">
        <form class="nav navbar-nav navbar-left navbar-form" role="search" action="{% url 'event:search' %}" method="get">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="ボランティアを検索" name="q">
            <div class="input-group-btn">
              <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
            </div>
          </div>
        </form>
        <ul class="nav navbar-nav">
          <li class="text-center">
            <p class="navbar-btn">
              <a class="btn btn-primary btn-block" href="{% url 'event:add' %}" role="button">ボランティア作成</a>
            </p>
          </li>
        </ul>

        {% if request.user.is_anonymous %}
          <ul class="nav navbar-nav navbar-right">
            <li class="pull-left"><a href="{% url 'user:register' %}">ユーザー登録</a></li>
            <li class="pull-left"><a href="{% url 'user:login' %}">ログイン</a></li>
          </ul>
        {% endif %}
      </div>
    </div>
  </nav>

</header>

<div id="main-content" class="container">
  {% if form.errors %}
    {% bootstrap_form_errors form %}
  {% endif %}
    <div class="messages">
      {% if messages %}
        {% for message in messages %}
          <p {% if message.tags %} class="{{ message.tags }}"{% endif %} >{{ message }}</p>
        {% endfor %}
      {% endif %}
    </div>
  {% block content %}{% endblock %}

</div>
<div class="footer-push"></div>
  </div>

<footer class="container-fluid">
  <div class="container text-center">
    <span>&copy; 2016 Interlink</span>
  </div>
    {% load git %}
  <div class="container text-center">
    <span>rev: <a href="https://github.com/internship2016/sovolo/commit/{% git_version %}">{% git_version %}</a></span>
  </div>
</footer>

</body>
</html>
