<!DOCTYPE html>
<html>
<head>{% load static %}
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

</head>
<body>
<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'top' %}">Sovolo</a>
      </div>
      <div class="collapse navbar-collapse">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="イベントを探す">
          </div>
          <button type="submit" class="btn btn-default">検索</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          {% if login %}
            <li><a href="{% url 'user:register' %}">ユーザー登録</a></li>
            <li><a href="{% url 'user:login' %}">ログイン</a></li>
          {% else %}
            <li><a href="#">(ユーザ名)</a> </li>
          {% endif %}
          <li><button class="btn btn-default navbar-btn">イベント作成</button></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="container">
  {% block content %}{% endblock %}
  <hr>
  <footer><p>フッター</p></footer>
</div>
</body>
</html>
