{% extends "base.html" %}
{% load event_tags %}
{% load bootstrap3 %}
{% load static %}

{% block container %}

<div class="container-fluid" id="top-image" style="background: url({% static 'img/topimg.jpg' %}) no-repeat;">
  <h2>はじめよう、つながろう</h2>
  <div class="container-fluid-button">
    <a href="/event/add/">ボランティアをはじめる</a>
  </div>
</div>

<!-- Swiper -->
<div class="swiper-container">
    <div class="swiper-wrapper">
      {% for event in new_events %}
      <div class="swiper-slide">
        <div class="card row">
          <a class="card-img col-xs-6" href="{% url 'event:detail' event.pk %}">
            <img src="{{ event.get_image_url }}" alt="トップ画像">
          </a>
          <div class="card-block col-xs-6">
            <a href="{% url 'event:detail' event.pk %}"><h4 class="card-title">{{event.name}}</h4></a>
            <p class="card-text">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              {{event.start_time_format | date:'n/j (D)' }}
              <br>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              {{event.get_region_kanji}}
            </p>
            <a href="{% url 'event:support' event.pk %}" class="btn btn-success align-bottom">応援する</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>

<script type="text/javascript"
  src="//maps.googleapis.com/maps/api/js?key=AIzaSyAW5PZqv_tJA9Pd-il4UeG-Mk9622Ub7R0">
</script>


<div id="main">
  <div id="main-content" class="container">
    {% if form.errors %}
      {% bootstrap_form_errors form %}
    {% endif %}
      <div class="messages">
        {% if messages %}
          {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }}"{% endif %} >{{ message }}</p>
          {% endfor %}
        {% endif %}
      </div>
    {% block content %}{% endblock %}
  </div>
</div>
{% endblock %}
