{% extends "base.html" %}
{% load event_tags %}
{% load bootstrap3 %}

{% block container %}

<!-- Swiper -->

<div class="swiper-container">
    <div class="swiper-wrapper">
      {% for event in new_events %}
      <div class="swiper-slide">
        <div class="card">
          <a href="{% url 'event:detail' event.pk %}">
            <img class="card-img-top" src="{{ event.get_image_url }}" alt="トップ画像">
          </a>
          <div class="card-block">
            <a href="{% url 'event:detail' event.pk %}"><h4 class="card-title">{{event.name}}</h4></a>
            <p class="card-text">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              {{event.start_time_format | date:'n/j (D)' }}
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              {{event.get_region_kanji}}
            </p>
            <a href="{% url 'event:support' event.pk %}" class="btn btn-success d-inline-block align-bottom">応援する</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>


<script>
  var template;
  $(function(){
    template = Handlebars.compile($("#event-template").html());
    var data ={
      "events": [
            {
                "id": 1,
                "name": "ボランティア1",
                "date": "2017-08-08 00:00:00",
                "place": "北海道",
                "status": "イベントステータス",
                "img":"/media/events/default_event_image.svg",
            },
            {
                "id": 2,
                "name": "ボランティア2",
                "date": "2017-08-08 00:00:00",
                "place": "北海道",
                "status": "イベントステータス",
                "img":"/media/events/default_event_image.svg",
            }
        ]
    };
    moment.updateLocale('ja', {
      weekdays: ["日曜日","月曜日","火曜日","水曜日","木曜日","金曜日","土曜日"],
      weekdaysShort: ["日","月","火","水","木","金","土"],
    });
    show_events(data);
    $('.event-filter').on('click',function(){
      $.ajax({
        'url':$(this).attr('action'),
        'data':{},
        'type':'POST',
        'dataType':'json',
        'success':show_events(response)
      });
    });
  })

  function show_events(context){
    for(var i=0;i<context['events'].length;i++){
      context['events'][i]['date'] = moment().format("M月D日(dd)");
    }
    $('#event-area').html(template(context));
  }

</script>

<div id="main">
  <div id="main-content" class="container">
    {% if form.errors %}
      {% bootstrap_form_errors form %}
    {% endif %}
      <div class="messages">
        {% if messages %}
          {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }}"{% endif %} >{{ message }}</p>
          {% endfor %}
        {% endif %}
      </div>
    {% block content %}{% endblock %}
  </div>
</div>
{% endblock %}
