{% extends "base.html" %}
{% load bootstrap3 %}
{% load event_tags %}

{% block title %}Top page{% endblock %}

{% block content %}
  <div class="row">
    <div id="events-area" class="col-md-8">
      <div id="upcoming-events" class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">参加予定のボランティア</h3>
        </div>
        <div class="panel-body">
          {% event_list request.user.participating_event.all %}
{#          <p class="text-right"><a href="#">もっと見る</a></p>#}
        </div>
      </div>
      <div id="mygroup-events" class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">所属グループの新着</h3>
        </div>
        <div class="panel-body">
          {% event_list request.user.get_new_group_events %}
{#          <p class="text-right"><a href="#">もっと見る</a></p>#}
        </div>
      </div>
      <div id="myarea-events" class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">自分の地域の新着イベント</h3>
        </div>
        <div class="panel-body">
          {% event_list request.user.get_new_region_events %}
{#          <p class="text-right"><a href="#">もっと見る</a></p>#}
        </div>
      </div>
      <div id="mytag-events" class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">フォローしているタグの新着一覧</h3>
        </div>
        <div class="panel-body">
          {% event_list request.user.get_new_tag_events %}
{#          <p class="text-right"><a href="#">もっと見る</a></p>#}
        </div>
      </div>
    </div>
    <div id="search-area" class="col-md-4">
      {% include 'event/search_form.html' %}

    </div>
  </div>
{% endblock %}
