{% extends "base.html" %}
{% load bootstrap3 %}
{% load event_tags %}

{% block title %}Sovol - ソーシャルボランティアプラットフォーム -{% endblock %}

{% block content %}
  <div class="row">
    <div id="events-area" class="col-md-8">
      <div id="upcoming-events" class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">参加予定のボランティア</h3>
        </div>
        <div class="panel-body">
          {% event_list request.user.get_future_participating_events request.user %}
        </div>
      </div>
      <div id="mygroup-events" class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">所属グループの新着ボランティア</h3>
        </div>
        <div class="panel-body">
          {% event_list request.user.get_new_group_events request.user %}
          <a class="btn btn-default pull-right" href="{% url 'group:add' %}">グループを作成</a>
          <a class="btn pull-right" href="{% url 'group:index' %}">グループ一覧</a>
        </div>
      </div>
      <div id="myarea-events" class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">自分の地域の新着ボランティア</h3>
        </div>
        <div class="panel-body">
          {% event_list request.user.get_new_region_events request.user %}
        </div>
      </div>
      <div id="mytag-events" class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">フォローしているタグの新着ボランティア</h3>
        </div>
        <div class="panel-body">
          {% event_list request.user.get_new_tag_events request.user %}
{#          <p class="text-right"><a href="#">もっと見る</a></p>#}
        </div>
      </div>
      <div id="new-events" class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">新着のボランティア</h3>
        </div>
        <div class="panel-body">
          {% event_list new_events request.user %}
          {#          <p class="text-right"><a href="#">もっと見る</a></p>#}
        </div>
      </div>
    </div>
    <div id="search-area" class="col-md-4">
      {% include 'event/search_form.html' %}

    </div>
  </div>
{% endblock %}
